body {
    word-break: keep-all;
    margin: 0;
    padding: 0;
}

.main_bloc{

	height: 1300px;
	margin-bottom: 10px;
}

.head{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #fff;
}
.mt192{
	margin-top: 200px;
}
.w{
	width: 124.234px;
}
.adres{
	margin-left: 50px;
}
.w2{
	width: 123.797px;
}
.ylica{
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
width: 99px;
color: #000000;
}
.ylica3{
	text-align-last: left;
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
color: #000000;
margin-left: 35px;
}
.body{
	height: 100%;
	margin-left: 13%;
	margin-right: 13%;
}
.body222{
	height: 100%;
    display: flex;
    justify-content: center;
}
.mh45{
	height: 45px;
}
.mh25{
	height: 30px;
}
.tal{
	text-align: left;
}
.data0103{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
    color: black;
    margin-left: 10px;
line-height: 21px;
}
.data3303{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data6{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data33030{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data3103{
	cursor: pointer;
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data2103{
	cursor: pointer;
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data1103{
	cursor: pointer;
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data0144{
	cursor: pointer;
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data4{
	cursor: pointer;
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data0100{
	cursor: pointer;
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data2{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.data1111{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
}
.size1418{
	margin-left: 30px;
	width: 14px;
	height: 18px;
}
.size1419{
	width: 14px;
	height: 18px;
}
.rededal{
	cursor: pointer;
	margin-top: 0;
	margin-left: 5px;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #000000;
}
.rededal2{
	cursor: pointer;
	margin-top: 0;
	margin-left: 5px;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #000000;
}
.rededal33{
	cursor: pointer;
	margin-top: 0;
	margin-left: 5px;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #000000;
}
.size17{
	width: 17px;
	height: 17px;
}
.size2020{
	margin-right: 8px;
	width: 20px;
	height: 20px;
}
.sdfsdf21{
	margin-right: 4%;
	height: 100px;
	margin-top: 40px;
}

.flex200000{
	cursor: pointer;
	align-items: center;
    display: flex;
}
.ys4{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.color-zel{
	    color: #1D8C00;
}
.button-2 {
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.boxcifra8{
	margin-left: 2px;
		font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #000000;
	text-align: center;
	width: 20px;
	height: 20px;
	background-color: #EBF005;
	border-radius: 5px;
}
.boxcifra8.active{
	background-color: #f43636;
}
.boxcifra4{
		font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #000000;
	margin-right: 8px;
	text-align: center;
	width: 20px;
	height: 20px;
	background-color: #EBF005;
	border-radius: 5px;
}
.mm2{
	margin: 0;
}
.tocha{
	margin-right: 3px;
	width: 13px;
	height: 18px;
}
.line{
	margin: 0;
	position: absolute;
width: 100%;
height: 3px;
border:0;

background: #EBF005;
}

.ml1{
	background-color: #000;
	border: 0;
	height: 3px;
}

.m{
align-items: center;
font-family: Roboto;
font-style: normal;
font-weight: 10px;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.m2{
	align-items: center;
	cursor: pointer;
	display: flex;
}

.hr2{
	right: 0;
	margin-right: 10px;
	margin-left: 10px;
	border: 0;
	background: #1D8C0080;
	width: 2px;
	height: 30px;
}
.m222{
	height: 3px;
}
.menu{
	width: 45px;
	background-color: #fff;
}
.ml {
    border: 0;
    height: 3px;
    background: #000;
}
.wgersg{
	margin-left: 24.5%;
    width:  150px;
}

.sdfsdf78{
	width: 100%;margin-bottom: 70px;
}

.nhgfj{
	margin-bottom: 10px;
}

.asf4576{
	height: 100px;
	margin-top: 40px;
}

.fdss{
	width: 300px;
	margin-top: 71px;
}

.flex0{
	display: flex;
}
.mr5{
	margin-right: 5px;
}
.flexbetwen{
	justify-content: space-between;
	position: relative;
	display: flex;
}
.flexbetwen2{
	align-items: center;
	justify-content: space-between;
	position: relative;
	display: flex;
}
.flexbetwen3{
	justify-content: space-between;
	position: relative;
	display: flex;
}
.flexbetwen33{
	justify-content: center;
	position: relative;
	display: flex;
}
.size1{
	width: 17px;
	height: 17px;
}
.df2{
	padding-right: 100px;
}
.size12{
	width: 14px;
	height: 18px;
}

.red{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #000000;
}
.flexaround5{
	padding-top: 20px;
	justify-content: space-around;
	position: relative;
	display: flex;
}
.flexbetwen2{
	display: flex;justify-content: space-between;
}
.size25{
	width: 25px;
	height: 25px;
}
.sdf23{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #000000;
}
.box100{
	width: 403px;
height: 117px;
	background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.box1001{
	margin-top: 30px;
	width: 403px;
height: 117px;
	background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.flex{
	position: relative;
	display: flex;
    cursor: pointer;
}
.flexte{
	position: relative;
	display: flex;
}
.flexfasf{
	margin-left: 30px;
	position: relative;
    cursor: pointer;
	display: flex;
}
.flex10{
	margin-top: 20px;
	margin-left: 25px;
	position: relative;
	display: flex;
}
.asf3{
	width: 22px;height: 22px;
}
.flex2090e{
	margin-bottom: 10px;
	position: relative;
	display: flex;
}
.flexaround{
	justify-content: space-around;
	position: relative;
	display: flex;
}
.flex30{
	margin-top: 30px;
	position: relative;
	display: flex;
}
.flexcenter{
	justify-content: center;
	position: relative;
	display: flex;
}

.flexaling{
	align-items: center;
	position: relative;
	display: flex;
}
.fc{
	display: flex;justify-content: center;
}
.flex1{
	justify-content: space-between;
	width: 747px;
	position: relative;
	display: flex;
}

.flex123{
	margin-top: 40px;
	justify-content: space-between;

	position: relative;
	display: flex;
}

.flex2{
	justify-content: space-between;
	width: 400px;
	position: relative;
	display: flex;
}

.flex3{
	margin-left: 85px;
	justify-content: space-between;
	width: 320px;
	position: relative;
	display: flex;
}

.a{
	margin: 0;
	margin-bottom: 60px;
	font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 124.68%;
    color: #000000;
}

.bh1 .bh2 .bh3 .bh4 .bh5{
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.button-1{
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    width: 220px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-pass {
    margin-bottom: 10px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 18%);
}


.button-2{
	cursor: pointer;
	margin-left: 15px;
	margin-right: 15px;
	width: 220px;
	height: 60px;
	border-radius: 10px;
	border: 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button-3{
	cursor: pointer;
	margin-left: 15px;
	margin-right: 15px;
	width: 220px;
	height: 60px;
	border-radius: 10px;
	border: 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button-4{
	cursor: pointer;
	margin-left: 15px;
	margin-right: 15px;
	width: 220px;
	height: 60px;
	border-radius: 10px;
	border: 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button-5{
	cursor: pointer;
	margin-left: 15px;
	margin-right: 15px;
	width: 220px;
	height: 60px;
	border-radius: 10px;
	border: 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button-1.active{
	background-color: #07bb14;
}
.button-2.active{
	background-color: #07bb14;
}
.button-3.active{
	background-color: #07bb14;
}
.button-4.active{
	background-color: #07bb14;
}

.h1_11{
	margin: 0;margin-bottom: 10px;
	margin-bottom: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.h1_111{
	margin: 0;
	margin-bottom: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.h1_1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.h1_1ad{
	margin-top: 10px;
	margin: 0;margin-bottom: 10px;margin-right: 40px;
	margin-bottom: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.zeleni{
	cursor: pointer;
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #1D8C00;
}

.cox{
	font-family: Roboto;
font-style: normal;
font-size: 14px;
line-height: 124.68%;
/* or 17px */

display: flex;
    justify-content: center;
align-items: center;
text-align: center;
color: #000000;
}

.fgjfs{
	justify-content: center;
    display: flex;margin-top: 40px;
}

.text1{
    margin-bottom: 10px;
    width: 400px;
    height: 37px;
    border-radius: 5px;
    padding: 12px;
}

.h1a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500px;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.h1aasfas{
	margin-top: 40px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500px;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.h1aaldos{
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500px;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.mart-2{
	margin-top: 3px
}
.wid221{
	width: 221.797px;
}
.h1at7{
	margin-top: 0;
	margin-right: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500px;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.hr_big{
	width: 100%;
	height: 40px;
	background: #F8F8F8;
	border-radius: 5px;
}

.h8{
	padding-top: 10px;
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #C7C7C7;
}

.hr_min{
	margin-top: 50px;
	width: 100%;
	height: 3px;
	border: 0;
	background: #E5E5E5;
}



.footer{
		position: absolute;
	margin: 0;
	width: 100%;
	height: 200px;
	background-image: url(../baseAssets/img/footer.png);
	background-size: cover;
	background-repeat: no-repeat;
}


.applications{
	margin-top: 40px;

}

.applications.active{
	display: block;

}

.size80{
	width: 80px;
	height: 80px;
}

.Company-data.remove{
	display: none;
}


.popup{
	position: absolute;
	top: 470px;
	margin: 0 auto;
	width: 100%;
	display: none;
	z-index: 100;
}

.popup.active{
	display: block;
}

.popup_1{
	position: relative;
	width: 900px;
	height: 600px;
	background-color: white;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 10;
	margin: 0 auto;
}

.popup:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9;
}

.krest{
	width: 30px; height: 30px;
	margin-top: 15px;
	position: relative;
    left: 63%;
	cursor: pointer;
}

.moi-dani{
	display: block;
}

.moi-dani.remove{
	display: none;
}

.moi-zaiavki{
	position: relative;
	top: 0;
	z-index: 3;
	display: none;
}

.moi-zaiavki.active{
	display: block;
}

.popup_2{
	position: relative;
	width: 900px;
	height: 600px;
	background-color: white;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 10;
	margin: 0 auto;
}

.popup-2{
	height: 1080px;
	top: 100px;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	display: none;
	z-index: 100;
}

.popup-2.active{
	display: block;
}

.popup-2:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9;
}

.popup_22{
	position: relative;
	width: 900px;
	height: 100%;
	background-color: white;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 10;
	margin: 0 auto;
}


.pppp{
	font-family: Roboto;
font-style: normal;
font-weight: 500px;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.ppppp{
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #1D8C00;
}

.ppppp{
	cursor: pointer;
  display: inline-block;
line-height: 1;
color: #1D8C00;
}
.ppppp:after {
display: block;
content: "";
height: 3px;
width: 0%;
background-color: #EBF005;
transition: width 0.4s ease-in-out;
}
.ppppp:hover:after,
.ppppp:focus:after {
width: 100%;
}

.aykcion{
	margin-top: 40px;

}

.aykcion.active{
	display: block;
}

.button1{
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    width: 220px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    background: #07bb14;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button-filtr{
	position: absolute;
	top: 301px;
	right: 65PX;
	z-index: 2;
	width: 160px;
	height: 52px;
	border: 0;
	background: #EBF005;
	border-radius: 5px;
}

.checkbox{
	margin-bottom: 10px;
	width: 20px;
	height: 20px;
}

.p{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #000000;
}

::-webkit-input-placeholder {font-family: Roboto;font-style: normal;font-weight: normal;font-size: 18px;line-height: 21px;color: #909090;}
::-moz-placeholder          {font-family: Roboto;font-style: normal;font-weight: normal;font-size: 18px;line-height: 21px;color: #909090;}
:-moz-placeholder           {font-family: Roboto;font-style: normal;font-weight: normal;font-size: 18px;line-height: 21px;color: #909090;}
:-ms-input-placeholder      {font-family: Roboto;font-style: normal;font-weight: normal;font-size: 18px;line-height: 21px;color: #909090;}

.histori{
	margin-top: 40px;
}

.histori.active{
	display: block;
}

.aktivnei_oykcion{
	margin-top: 40px;
}
.aktivnei_oykcion.active{
	display: block;
}

.izbranoe{
	margin-top: 40px;
	display: none;
}

.izbranoe.active{
	display: block;
}

.purchase_history{
	margin-top: 40px;
	display: none;
}
.purchase_history.active{
	display: block;
}

.img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.imgasf{
	margin-right: 10px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.exit{
	width: 25px;
	height: 26.67px;
}

.a2{
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.a2ads{
	margin-right: 5px;
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.a23{
	margin-right: 5px;
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.yelow{
	font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
color: #1D8C00;
text-decoration: none;
}

.yelowasdf{
	margin-right: 10px;
	font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
color: #1D8C00;
text-decoration: none;
}

.hh1{
	margin-bottom: 20px;
	font-family: Roboto;
font-style: normal;
font-weight: 900px;
font-size: 22px;
line-height: 124.68%;
color: #000000;
}

.hh2{
	cursor: pointer;

	margin: 0;

	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 124.68%;
color: #000000;
}

.hh2:hover{
	color: #EBF005;
}
.asdd {
    margin-top: 5px;
}
.popup-66{
	border-radius: 10px;
	width: 70%;
	height: 900px;
	background-color: white;
	position: relative;

	margin: 0 auto;
}
.popup-6{
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: 100;
}

.popup-6:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9;
}
.pppp10{
	font-family: Roboto;
font-style: normal;
font-weight: 500px;
font-size: 18px;
line-height: 21px;
color: #000000;
margin-left: 26px;
margin-right: 12px;
margin-top: 30px;
}
.fonsize{
	padding-top: 120px;
	padding-bottom: 30px;
	margin: 0;
	text-align: center;
	font-size: 30px;
}
.fonsize-slim{
	font-family: Roboto;
font-style: normal;
font-weight: 500px;
font-size: 22px;
line-height: 21px;
color: #000000;
	text-align: center;
}
.tar{
	text-align: right;
}
.fonsize-slim2{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
    margin-top: 10px;
color: #000000;
}
.marr5{
	margin-right: 5px;
}
.fonsize-slim30{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
margin-left: 35px;
color: #000000;
}
.fonsize-slim200{
	margin: 0;
	margin-right: 60px;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
}
.mmm{
	margin: 0;
}
.mar0{
	margin: 0;
}
.mar30{
	margin-top: 30px;
}
.mat192{
	margin-top: 150px;
}
.wid70{
	width: 70%;
}
.asdd22{
	margin-left: 60px;
	margin-top: 5px;
}
.mar45{
	margin-top: 40px;
}
.lasttext{
	margin-top: 25px;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border:0;
	border-radius: 10px;
	width: 100%;
	height: 205px;
	margin-bottom: 50px;
}
.ylica2{
	margin-top: 9px;
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 14px;
color: #000000;
}
.ml100{
	margin-top: 0px;
	margin-left: 260px;
}
.aswb{
	width: 200px;
	height: 60px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #EBF005;
}
.asb{
	width: 200px;
	height: 60px;
	background-color: #EBF005;
	border-radius: 10px;
	border: 1px solid #EBF005;
}
.popup-8{
	position: absolute;
	top: 100px;
	width: 100%;
	display: none;
	z-index: 100;
}

.popup-8.active{
	display: block;
}
.popup-8:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9;
}

.popup-88{
	border-radius: 10px;
	width: 70%;
	height: 1050px;
	background-color: white;
	position: relative;
	z-index: 100;
	margin: 0 auto;
}
.ded2{
	cursor: pointer;
	border: 1px solid #EBF005;
	background-color: white;
	border-radius: 10px;
	width: 300px;
	height: 80px;
	margin-bottom: 10px;
}
.cenam{
	margin-top: 339px;
}
.moicena{
	margin-top: 29px;
	width: 300px;
	border: 0.5px solid black;
	border-radius: 5px;
	background-color: white;
	height: 30px;
}
.marbottom{
	margin-top: 47px;
}
.blockdis{
	display: block;
}
.marb10{
	margin-bottom: 10px;
}
.mar35px{
	margin-top: 35px;
}
.data0109{
	margin: 0;
	font-family: Roboto;
font-style: normal;
font-weight: 500PX;
font-size: 18px;
line-height: 21px;
width: 300px;
}
.checkboxi{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.m5t{
	margin-bottom: 10px;
	margin-top: 2px;
}
.adap{
	display: none;
}
.adap2{
	display: none;
}
.adap3{
	display: none;
}
.hr_big2{
	width: 140px;
	height: 525px;
	background: #F8F8F8;
	border-radius: 5px;
}
.h88{
	padding-right: 10px;
	padding-bottom: 36px;
	padding-top: 10px;
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #C7C7C7;
}
.bodyl{
	text-align: right;
	height: 80%;
	margin-left: 13%;
	margin-right: 13%;
}
.mr10{
	margin-right: 10px;
}
.pds{
	padding-top: 10px;
}
.p10d{
	padding-top: 46px;
}
.p30d{
	padding-top: 66px;
}
.p8d{
	padding-top: 30px;
}
.pd{
	padding-top: 40px;
}
.pd35{
	padding-top: 28px;
}
.size50 {
    width: 50px;
    height: 50px;
}
.ylica4{
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
color: #000000;
margin: 0;
margin-top: 3px;
margin-left: 20px;
}
.h3{
	height: 3px;
}
.m2{
	padding-top: 0;
}
.popup-10{
	position: absolute;
	top: 100px;
	width: 100%;
	display: none;
	z-index: 100;
}

.popup-10.active{
	display: block;
}
.popup-10:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9;
}
.popup-100{
	border-radius: 10px;
	width: 70%;
	height: 1050px;
	background-color: white;
	position: relative;
	z-index: 100;
	margin: 0 auto;
}
.jcc{
	width: 100%;
	display: flex;
	justify-content: center;
}
.mt50{
	margin-top: 100px;
}
.asasas{
	width: 229.938px;
}
.tar2{
	margin-right: 30px;
	text-align: right;
}
.mess{
	cursor: pointer;
}
.pofigy{
	cursor: pointer;
}
.mar50{
	margin-top: 50px;
}

/* popup-city */

.popup-city{
	width: 100%;
	position: absolute;
	z-index: 1000;
	top: 0;
	background-color: white;
	display: none;
}
.popup-city.active{
	display: block;
}
.popup-city-2{
	display: none;
}
.popup-city-2.active{
	display: block;
}
.popup-city-2:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 8;
}
.lib{
	list-style-type: disc;
	padding-bottom: 40px;
}
.input-city{
	border: 0;
	width: 98%;
	height: 40px;
}
input.body-city{outline:none;}
input.input-city{outline:none;}
.body-city{
	margin: 0 60px;

}
.sizelog{
	margin-top: 35px;
	width: 170px;
	margin-bottom: 35px;
}
.hr-city{
	margin: 0;
	border: 0;
	border-radius: 5px;
	height: 1px;
	background-color: #bcbcbc;
}
.hr-city.active{
	background-color: #07bb14;
}
.wid75{
	position: relative;
	width: 75%;
}
.pb40{
	padding-bottom: 40px;
}
.li{
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 100%;
	margin: 0;
	padding-right:  16px;
	margin-bottom: 5px;
	cursor: pointer;
	color: black;
}
.li:hover{
	font-weight: 1000;
	font-size: 100%;
}
.mar50{
	margin-top: 20px;
}
.flex-wrap{
	flex-wrap: wrap;
}
.li-bot{
	border: 0;
	height: 3px;
	border-radius: 5px;
	color: #bcbcbc;
}
.li-hr{
	color: black;
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 12px;
	padding-bottom: 30px;
}
.city{
	color: black;
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 12px;
	cursor: pointer;
}
.city:hover{
	color: #07bb14;
}


.lypa3{
	position: absolute;
	top: 15px;
	width: 15px;
}
.city-key{
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
	font-size: 28px;
    font-weight: bolder;
    margin-top: 30px;
}
.mart{
	margin-top: 10px;
}
ul{
	padding-left: 0;
	margin-right: 5px;
}
.flex-city{
	justify-content: space-between;
		max-height: 3000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
li{
	list-style-type: none;
	color: #07bb14;
}
.city-div{
	    width: calc(12.5% - 10px);
}
.ul{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.li-1{
	list-style-type: disc;
	margin-left: 16px;
}


.ant-table-tbody {
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
}

.ant-table-thead, .ant-table-column-title {
    font-size: 16px;
}
.ant-tooltip-arrow, .ant-tooltip-inner {
    display: none;
}


.adaptive-table {
    margin: 0 50px;
}

.title-application {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.text-product {
    color: black;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.description-product {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 40px;
    font-weight: 600;
}

.price-modal {
    font-weight: 700;
    margin-left: 35px;
}

.other-description-product li {
    color: black;
    width: 400px;
    font-size: 15px;
    display: flex;
}

.container-modal {
    padding: 20px 100px;
}


.btn-modal {
    width: 150px;
    height: 30px;
    background-color: #07bb14;
}





@media (max-width: 1980px){
	.wid75{
		width: 100%;
	}
	ul{
		width: 155px;
	}
}
@media (max-width: 1700px){
	.hr_big{
		width: 1000px;
	}
	.wid{
		width: 1000px;
	}
}
@media (max-width: 1400px){
	.flexte{
		display: block;
	}
	.h0{
		height: 123%;
	}
	.adres{
		margin-left: 0;
	}
	.fgjfs{
		width: 747px;
	}
	.hr_big{
		width: 1000px;
	}
	.mt192{
		width: 1000px;
	}
	.popup-66{
		height: 1000px;
	}
	ul{
		width: 125px;
	}
}
@media (max-width: 1300px){
	ul{
		width: 105px;
	}
	.city-div{
	    width: 14.28571%;
	}
	.header-city.active{
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	height: 180px;
	box-shadow: 0 2px 3px rgb(21 21 40 / 12%);
	}
	.header-min.active{
		margin: 0 60px;
	}
}
@media (max-width: 1200px){
	.body{
		max-width: 970px;
	}
	.h0{
		height: 124.5%;
	}
	.adap{
		display: block;
	}
	.adap2{
		display: block;
	}
	.adap3{
		display: block;
	}

	.popup-66{
		width: 100%;
	}
	.popup-88{
		width: 100%;
	}
	.flex-city{
		max-height: 3500px;
	}
}

@media (max-width: 992px){
	.body{
		max-width: 750px;
	}
	.h0{
		height: 170%;
	}
	.flexbetwen{
		display: block;
	}
	.flexaling{
		margin-bottom: 10px;
	}
	.flex1{
		display: block;
	}
	.flex123{
		display: block;
	}
	.fgjfs{
		width: 444px;
	}
	.flex30{
		display: block;
	}
	.fgjfs{
		justify-content: flex-start;
	}
	.popup-66{
		height: 1100px;
        width: 800px;
	}
	.mar0 {
		margin-top: 50px;
	}
	.mat192{
		margin-top: 200px;
	}
	.ylica2 {
		line-height: 18px;
	}
	.aswb {
		margin-bottom: 10px;
	}
	.popup-100{
		width: 100%;
	}
	.flex-city{
		max-height: 5000px;
	}
	.city-div{
	    width: 16.66667%;
	}
}
@media (max-width: 767px){
	.body{
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 0;
		margin-right: 0;
		max-width: none;
	}
	.mat192{
		margin-top: 160px;
	}
	.flex-city {
   		max-height: 8052px;
	}
	.li-1{
		margin-left: 0;
		list-style-type: none;
		width: 45%;
		padding-bottom: 25px;
	}
}
@media (max-width: 660px){
	.flexcenter{
		display: block;
	}
	.button-2{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.button-4{
		margin-top: 10px;
	}
	.h0{
		height: 190%;
	}
	.flexbetwen3{
		display: block;
	}
	.footer{
		height: 600px;
	}
	.wgersg{
		margin-left: 0;
	}
}
@media (max-width: 550px){
	.ul{
		display: block;
	}
	.flex-city {
		display: block;
		max-height: 15090px;
	}
}


@media screen and (max-width: 550px) {
    .flex1 {
        width: auto;
    }
    .text1 {
        width: 260px;
    }
    .input-pass {
        width: 260px;
    }
    .a26 {
        display: grid;
    }
    .lrok {
        flex: none;
        width: auto;
        justify-content: center;
    }
}

@media screen and (max-width: 425px){
    .adaptive-table {
        margin: 0;
    }
    .container-modal {
        padding: 0;
    }
    .krest {
        left: 47%;
    }
}
