<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/kabinet-prodavca-active.css">
	<title></title>
	<meta charset="utf-8">
</head>
<body>
	<div class="main_bloc">
		<div class="head">
			<div class="body">
				<div class="flexbetwen2">
					<div class="menu">
						<hr class="ml"></hr>
						<hr class="ml1"></hr>
						<hr class="ml"></hr>
					</div>
					<img src="../img/logoYoofEnd (1).png" class="wgersg">
					<div class="flex200000">
							<img src="../img/tocha.png" class="tocha mr5">
							<h1 class="m mm2">Москва</h1>
						</div>
					<div class="m2">
						<h1 class="m">Вход</h1>
						<hr class="hr2"></hr>
						<h1 class="m">Регистрация</h1>
					</div>
				</div>
			</div>
			<hr class="line">
		</div>
		<img src="../img/heade.png" class="sdfsdf78">
		<div class="body h0">	
				<div class="flexbetwen">		
					<h1 class="a">ЛИЧНЫЙ КАБИНЕТ</h1>
					<div class="flexaling">
						<h1 class="a23" style="">Аккаунт</h1>
						<a href="#" class="yelowasdf">АКТИВЕН</a>
						<img class="imgasf" src="../img/Mvideo.png">
						<h1 class="a2ads">ООО “М.Видео”</h1>
						<img class="exit" src="../img/exit.png">
					</div>
				</div>
				<div class="flexcenter">
					<button class="button-1"><span class="bh1 h1a">Данные компании</span></button>
					<button class="button-2"><span class="bh2 h1a">Новые заявки</span><div class="boxcifra8">2</div></button>
					<button class="button-3"><span class="bh3 h1a">Активные аукционы</span></button>
					<button class="button-4"><span class="bh4 h1a">История аукционов</span></button>
				</div>

		
				<div class="Company-data">
					<div class="flexte">
						<div>
							<div class="flex123"><h1 class="h1_1">Название организации или ИП</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Юридический адрес</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">ИНН</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Банк</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Расчетный счет</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">КПП</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">БИК банка</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Адрес электронной почты</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Сменить пароль</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Повторить пароль</h1><input type="text" class="text1"></div>

							<div class="flex30">
								<h1 class="h1at7">Изменить продаваемые вами<br>категории</h1>
								<div class="flex">
									<div>
										<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t">Смартфоны</h1></div>
										<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t">Холодильники</h1></div>
										<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t">Телевизоры</h1></div>
										<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t">Ноутбуки</h1></div>
										<h1 class="zeleni">Показать все ></h1>
									</div>
									<div>
										<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t1">Смартфоны</h1></div>
										<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t1">Холодильники</h1></div>
										<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t1">Телевизоры</h1></div>
										<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t11">Ноутбуки</h1></div>
									</div>
								</div>
							</div>
							<div class="flex1">
								<h1 class="h1a mar0 marb10">Физическое расположение<br>магазина/склада (для<br>самовывоза)</h1>
								<div>
									<input type="text" class="text1">
									<h1 class="h1_1ad marb10">Возможные города доставки</h1>
									<input type="text" class="text1">
								</div>
							</div>
							<div class="fgjfs"><button class="button1"><span class="cox">СОХРАНИТЬ ИЗМЕНЕНИЯ</span></button></div>
						</div>
						<div class="adres">
							<h1 class="h1aasfas">Документы компании</h1>
							<div class="box100">
								<div class="flexaround5">
									<h1 class="sdf23">Свидетельство ОГРН (или<br>лист записи ЕГРЮЛ)</h1>
									<div class="flex">
										<img src="../img/gal.png" class="size25 marr5">
										<h1 class="h1aaldos mart-2">Готово</h1>
									</div>
								</div>
								<div>
									<div class="flex10">
										<div class="flex">
											<img src="../img/izmene.png" class="size1 marr5">
											<h1 class="red">Редактировать</h1>
										</div>
										<div class="flexfasf">
											<img src="../img/ydal.png" class="size12 marr5">
											<h1 class="red">Удалить</h1>
										</div>
									</div>
								</div>
							</div>
							<div class="box1001">
								<div class="flexaround5">
									<h1 class="sdf23 wid221">Свидетельство ИНН</h1>
									<div class="flex">
										<img src="../img/gal.png" class="size25 marr5">
										<h1 class="h1aaldos mart-2">Готово</h1>
									</div>
								</div>
								<div>
									<div class="flex10">
										<div class="flex">
											<img src="../img/izmene.png" class="size1 marr5">
											<h1 class="red">Редактировать</h1>
										</div>
										<div class="flexfasf">
											<img src="../img/ydal.png" class="size12 marr5">
											<h1 class="red">Удалить</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		<div class="applications">
			<div class="body222">
				<div class="hr_big">
					<div class="flexaround">
						<div>
						<h2 class="h8">Номер заявки</h2>
						<div class="mh45"></div>
							<div class="flex">
								<img src="../img/boxgal.png" class="size2020">
								<h1 class="data0100"><span class="color-zel">№325478</span> от<br>01.03.2021</h1>
							</div>
						</div>
						<div>
							<h2 class="h8">Наименование товара</h2>
							<div class="mh45"></div>
							<h1 class="data3303">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						</div>
						<div>
							<h2 class="h8">Текущая цена</h2>
							<div class="mh45"></div>
							<h1 class="data0103">18 000₽</h1>
						</div>
						<div>
							<h2 class="h8">Статус</h2>
							<div class="mh45"></div>
							<div class="flex">
								<div class="boxcifra4">4</div>
								<div class="aoaa"><h1 class="data4 color-zel">Прием заявок</h1>
								<h2 class="ys4">4 участника</h2></div>
							</div>
						</div>
						<div>
							<h2 class="h8">Чат с покупателем</h2>
							<div class="mh45"></div>
							<div class="flex">
								<div class="boxcifra4">2</div>
								<h1 class="data0103 color-zel mess">Сообщения</h1>
							</div>	
						</div>
						<div>
							<h2 class="h8">Настройки</h2>
							<div class="mh45"></div>
							<div>
								<div class="flex"><img src="../img/izmene.png" class="size17"><h1 class="rededal2">Участвовать</h1></div>
								<div class="flex"><img src="../img/ydal.png" class="size1419"><h1 class="rededal33">Отказаться</h1></div>
							</div>
						</div>
					</div>
						<hr class="hr_min">
				</div>
			</div>
			<div class="adap">
				<div class="bodyl">
				<div class="flex">
					<div class="hr_big2 mr10">
							<h2 class="h88">Номер заявки</h2>
							<h2 class="h88">Наименование товара</h2>
							<h2 class="h88">Текущая цена</h2>
							<h2 class="h88">Статус</h2>
							<h2 class="h88">Чат</h2>
							<h2 class="h88">Настройки</h2>
					</div>
					<div class="tal">
						<div class="flex pds">
							<img src="../img/boxgal.png" class="size2020">
							<h1 class="data0100"><span class="color-zel">№325478</span> от 01.03.2021</h1>
						</div>
						<h1 class="data3303 p10d">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						<h1 class="data0103 p10d">18 000₽</h1>
						<div class="flex p10d">
							<div class="boxcifra4">4</div>
							<div class="aoaa"><h1 class="data4 color-zel">Прием заявок</h1>
							<h2 class="ys4">4 участника</h2></div>
						</div>
						<div class="flex p8d">
							<div class="boxcifra4">2</div>
							<h1 class="data0103 color-zel mess">Сообщения</h1>
						</div>
						<div class="p10d">
							<div class="flex"><img src="../img/izmene.png" class="size17"><h1 class="rededal2">Участвовать</h1></div>
							<div class="flex"><img src="../img/ydal.png" class="size1419"><h1 class="rededal33">Отказаться</h1></div>
						</div>	
					</div>
				</div>
						<hr class="hr_mini2">
				</div>
			</div>
		</div>
		<div class="aykcion">
			<div class="body222">
				<div class="hr_big">
					<div class="flexaround">
						<div>
							<h2 class="h8">Номер заявки</h2>
							<div class="mh45"></div>
							<div class="flex">
								<h1 class="data1111">Аукцион<span class="color-zel"> №325478</span><br>от 01.03.2021</h1>
							</div>
						</div>
						<div>
							<h2 class="h8">Наименование товара</h2>
							<div class="mh45"></div>
							<h1 class="data33030">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						</div>
						<div>
							<h2 class="h8">Текущая цена</h2>
							<div class="mh45"></div>
							<h1 class="data0103">18 000₽</h1>
						</div>
						<div>
							<h2 class="h8">Статус</h2>
							<div class="mh45"></div>
							<div class="flex">
								<div class="aoaa"><h1 class="data0144 color-zel">Прием ставок</h1></div>
							</div>
						</div>
						<div>
							<h2 class="h8">Чат с покупателем</h2>
							<div class="mh45"></div>
							<div class="flex">
								<div class="boxcifra4">2</div>
								<h1 class="data0103 color-zel mess">Сообщения</h1>
							</div>	
						</div>
						<div>
							<h2 class="h8">Настройки</h2>
							<div class="mh45"></div>
							<div>
								<div class="flex"><img src="../img/izmene.png" class="size17"><h1 class="rededal">Предложить цену</h1></div>
								<div class="flex"><img src="../img/ydal.png" class="size1419"><h1 class="rededal33">Отказаться</h1></div>
							</div>
						</div>
					</div>
					<hr class="hr_min">
				</div>
			</div>
				<div class="adap2">
					<div class="bodyl">
						<div class="flex">
							<div class="hr_big2 mr10">	
								<h2 class="h88">Номер заявки</h2>
								<h2 class="h88">Наименование товара</h2>
								<h2 class="h88">Текущая цена</h2>
								<h2 class="h88">Статус</h2>
								<h2 class="h88">Чат с покупателями</h2>	
								<h2 class="h88">Настройки</h2>
							</div>
							<div class="tal">
								<h1 class="data1111 pds">Аукцион<span class="color-zel"> №325478</span> от 01.03.2021</h1>
								<h1 class="data33030 p10d">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
								<h1 class="data0103 p10d">18 000₽</h1>
								<div class="flex p10d">
								<div class="aoaa"><h1 class="data0144 color-zel">Прием ставок</h1></div>
							</div>
							<div class="flex p10d">
								<div class="boxcifra4">2</div>
								<h1 class="data0103 color-zel mess">Сообщения</h1>
							</div>
							<div class="p30d">
								<div class="flex"><img src="../img/izmene.png" class="size17"><h1 class="rededal">Предложить цену</h1></div>
								<div class="flex"><img src="../img/ydal.png" class="size1419"><h1 class="rededal33">Отказаться</h1></div>
							</div>
						</div>
					</div>
					<hr class="hr_min">
				</div>
				</div>
			</div>
		<div class="histori">
			<div class="body222">
				<div class="hr_big">
					<div class="flexaround">
						<div>
							<h2 class="h8">Номер заявки</h2>
							<div class="mh45"></div>
							<div class="flex">
								
								<h1 class="data2">Аукцион<span class="color-zel"> №325478</span><br>от 01.03.2021</h1>
							</div>
						</div>
						<div>
							<h2 class="h8">Наименование товара</h2>
							<div class="mh45"></div>
							<h1 class="data6">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						</div>
						<div>
							<h2 class="h8">Итоговая цена</h2>
							<div class="mh45"></div>
							<h1 class="data0103">17 200₽</h1>
						</div>
						<div>
							<h2 class="h8">Результат</h2>
							<div class="mh25"></div>
							<img src="../img/win.png" class="size80">
						</div>
						<div>
							<h2 class="h8">Доставка</h2>
							<div class="mh45"></div>
							<h1 class="data0103">Самовывоз</h1>
						</div>
						<div>
								<h2 class="h8">Статус</h2>
								<div class="mh45"></div>
								<h1 class="data0103 color-zel w">Доставлен<br>в магазин</h1>
							</div>
					</div>
						<hr class="hr_min">
				</div>
				<div class="flexaround mt192 wid">
						<div>
							<div class="mh45"></div>
							<div class="flex">
								
								<h1 class="data2">Аукцион<span class="color-zel"> №325478</span><br>от 01.03.2021</h1>
							</div>
						</div>
						<div>
							<div class="mh45"></div>
							<h1 class="data6">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						</div>
						<div>
							<div class="mh45"></div>
							<h1 class="data0103 w2">17 200₽</h1>
						</div>
						<div>
							<div class="mh25"></div>
							<img src="../img/lose.png" class="size80">
						</div>
						<div>
								<div class="mh45"></div>
								<h1 class="data0103">Доставка</h1>
								<h2 class="ylica">123456, Москва, ул. Багратиона, д.9, кв. 35</h2>
						</div>
						<div>
							<div class="mh45"></div>
							<h1 class="data0103 color-zel">Доставлен<br><span class="color-zel2">Отслеживание</span></h1>
						</div>
					</div>
					<hr class="hr_min">
			</div>
			<div class="adap3">
				<div class="bodyl">
					<div class="flex">
						<div class="hr_big2 mr10">
								<h2 class="h88">Номер заявки</h2>
								<h2 class="h88">Наименование товара</h2>
								<h2 class="h88">Итоговая цена</h2>
								<h2 class="h88">Результат</h2>
								<h2 class="h88">Доставка</h2>
								<h2 class="h88">Статус</h2>
						</div>
						<div class="tal">
							<h1 class="data2 pds">Аукцион<span class="color-zel"> №325478</span> от 01.03.2021</h1>
							<h1 class="data6 p10d">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
							<h1 class="data0103 w2 p10d">17 200₽</h1>
							<img src="../img/lose.png" class="size50 p8d">
							<div class="flex p8d">
								<h1 class="data0103">Доставка</h1>
								<h2 class="ylica4">123456, Москва, ул. Багратиона, д.9, кв. 35</h2>
							</div>
							<h1 class="data0103 color-zel p10d">Доставлен<br><span class="color-zel2">Отслеживание</span></h1>
						</div>
					</div>
					<hr class="hr_min">
					<div class="flex">
						<div class="hr_big2 mr10">
								<h2 class="h88">Номер заявки</h2>
								<h2 class="h88">Наименование товара</h2>
								<h2 class="h88">Итоговая цена</h2>
								<h2 class="h88">Результат</h2>
								<h2 class="h88">Доставка</h2>
								<h2 class="h88">Статус</h2>
						</div>
						<div class="tal">
							<h1 class="data2 pds">Аукцион<span class="color-zel"> №325478</span> от 01.03.2021</h1>
							<h1 class="data6 p10d">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
							<h1 class="data0103 w2 p10d">17 200₽</h1>
							<img src="../img/win.png" class="size50 p8d">
							<div class="flex p8d">
								<h1 class="data0103">Самовывоз</h1>
							</div>
							<h1 class="data0103 color-zel p10d">Доставлен в магазин</span></h1>
						</div>
					</div>
					<hr class="hr_min">
				</div>
			</div>
		</div>
	
	</div><!-- main bloc -->
		<div class="footer">
			<div class="body">
				<div class="flexbetwen3">
					<img src="../img/logoYoofEnd (2).png" class="fdss">
					<div class="asf4576">
						<h1 class="hh1">О сервисе</h1>
						<div class="nhgfj"><a class="hh2">Как работает сервис?</a></div>
						<div class="nhgfj"><a class="hh2">Правила использования</a></div>
						<div class="nhgfj"><a class="hh2">Отзывы о нас</a></div>
					</div>
					<div class="sdfsdf21">
						<h1 class="hh1">Контакты</h1>
						<div class="flex2090e"><img src="../img/ins.png" class="asf3 mr5"><a class="hh2">Instagram</a></div>
						<div class="flex2090e"><img src="../img/fac.png" class="asf3 mr5"><a class="hh2">Facebook</a></div>
						<div class="flex2090e"><img src="../img/tel.png" class="asf3 mr5"><a class="hh2">Telegram</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-6">
			<div class="popup-66">
			<div class="body">

				<img src="../img/krest.png" class="krest">
				<h1 class="pppp10 fonsize">АУКЦИОН №325478</h1>
				<h2 class="fonsize-slim">Ноутбук ASUS VivoBook Max X541NC-DM114T</h2>
				<div class="flex">
					<div class="tar2">
						<h1 class="fonsize-slim2">Начальная стоимость</h1>
						<h1 class="fonsize-slim2 mar30">Информация о товаре</h1>
						<h1 class="fonsize-slim2 mat192">Доставка</h1>
						<h1 class="fonsize-slim2 mar30">Добавить комментарий</h1>
					</div>
					<div class="wid70">
						<h1 class="data0103 asdd">18 000 ₽</h1>
						<h2 class="mar0 mar30"><span class="fonsize-slim2">Диагональ/разрешение</span> <span class="data0103">15.6"/1920х1080 пикс.</span><br>
							<span class="fonsize-slim2">Процессор</span><span class="data0103 asdd">Intel Pentium N4200 1.1 ГГц</span><br>
							<span class="fonsize-slim2">Оперативная память (RAM)</span> <span class="data0103">4 ГБ</span><br>
							<span class="fonsize-slim2">Графический контроллер</span> <span class="data0103">GeForce 810M 2ГБ</span><br>
							<span class="fonsize-slim2">ОбЪем HDD</span> <span class="data0103">500 ГБ</span></h2>
							<h2 class="ylica2 mar50">123456, Москва, ул. Багратиона, д.9, кв. 35</h2>
							<input type="text" class="lasttext">
							<button class="aswb data0103">СОХРАНИТЬ</button>
						<button class="asb data0103 pofigy">НАЧАТЬ ТОРГИ</button>
					</div>
				</div>

			</div>
			</div>
		</div>

		<div class="popup-10">
			<div class="popup-100">
			<div class="body">
				<img src="../img/krest.png" class="krest">
				<h1 class="pppp10 fonsize">АУКЦИОН №325478</h1>
				<h2 class="fonsize-slim">Ноутбук ASUS VivoBook Max X541NC-DM114T</h2>
					<div class="jcc mt50">
					<div>
						<div class="flex">
							<h1 class="fonsize-slim2 tar2">Информация о товаре</h1>
							<h2 class="mmm"><span class="fonsize-slim2 asdwg">Диагональ/разрешение</span> <span class="data0103">15.6"/1920х1080 пикс.</span><br>
							<span class="fonsize-slim2 asdwg">Процессор</span><span class="data0103 asdd">Intel Pentium N4200 1.1 ГГц</span><br>
							<span class="fonsize-slim2 asdwg">Оперативная память (RAM)</span> <span class="data0103">4 ГБ</span><br>
							<span class="fonsize-slim2 asdwg">Графический контроллер</span> <span class="data0103">GeForce 810M 2ГБ</span><br>
							<span class="fonsize-slim2 asdwg">ОбЪем HDD</span> <span class="data0103">500 ГБ</span></h2>
						</div>
						<div class="flex mar30">
							<h1 class="fonsize-slim2 tar2 mar30 asasas">Сообщения</h1>
							<div>
								<input type="text" class="lasttext">
								<button class="asb data0109 mar50">ЗАВЕРШИТЬ АУКЦИОН</button>
							</div>
						</div>
					</div>
					</div>
					</div>
			</div>
			</div>
		</div>

<div class="popup-8">
			<div class="popup-88">
			<div class="body">
				<img src="../img/krest.png" class="krest">
				<h1 class="pppp10 fonsize">АУКЦИОН №325478</h1>
				<h2 class="fonsize-slim">Ноутбук ASUS VivoBook Max X541NC-DM114T</h2>
				<div class="fc">
					<div class="flex">
						<div class="tar2">
								<h1 class="fonsize-slim2">Информация о товаре</h1>
								<h1 class="fonsize-slim2 mat192">Начальная стоимость</h1>
								<h1 class="fonsize-slim2 mar30">Предложения продавцов</h1>
								<h1 class="fonsize-slim2 cenam">Моя цена</h1>
						</div>
						<div class="wid70">
							<h2 class="mmm"><span class="fonsize-slim2 asdwg">Диагональ/разрешение</span> <span class="data0103">15.6"/1920х1080 пикс.</span><br>
							<span class="fonsize-slim2 asdwg">Процессор</span><span class="data0103 asdd">Intel Pentium N4200 1.1 ГГц</span><br>
							<span class="fonsize-slim2 asdwg">Оперативная память (RAM)</span> <span class="data0103">4 ГБ</span><br>
							<span class="fonsize-slim2 asdwg">Графический контроллер</span> <span class="data0103">GeForce 810M 2ГБ</span><br>
							<span class="fonsize-slim2 asdwg">ОбЪем HDD</span> <span class="data0103">500 ГБ</span></h2>
							<h1 class="data0103 marbottom">18 000₽</h1>
							<div class="blockdis mar35px">
							<div><button class="ded2"><h2 class="ylica3">23.03.2021 в 10:34</h2><span class="flexaround"><h1 class="data0103">М.Видео</h1><h1 class="data0103">17 900₽</h1></span></button></div>
							<div><button class="ded2"><h2 class="ylica3">23.03.2021 в 10:34</h2><span class="flexaround"><h1 class="data0103">Ситилинк</h1><h1 class="data0103">17 900₽</h1></span></button></div>
							<div><button class="ded2"><h2 class="ylica3">23.03.2021 в 10:34</h2><span class="flexaround"><h1 class="data0103">Эльдорадо</h1><h1 class="data0103">17 900₽</h1></span></button></div>
							<div><button class="ded2"><h2 class="ylica3">23.03.2021 в 10:34</h2><span class="flexaround"><h1 class="data0103">Online</h1><h1 class="data0103">17 900₽</h1></span></button></div>
							<input type="text" class="moicena">
							<div><button class="asb data0109 mar50">ПРЕДЛОЖИТЬ ЦЕНУ</button></div>
						</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="popup-city-2">
		<div class="popup-city" id="modal_cinw_ctnr">
			<div class="body-city">
				<div class="header-city">
					<div class="header-min">
						<img src="../img/krest.png" class="krest">
						<img src="../img/logoYoofEnd (1).png" class="sizelog">
						<div class="wid75">
							<input type="input" placeholder="Введите название города" class="input-city">
							<img src="../img/lypa.png" class="lypa3">
							<hr class="hr-city">
						</div>
					</div>
				</div>
				<div class="flex mar50 flex-wrap pb40">
					<ul class="ul">
						<li class="li-1" style="list-style-type: none;"><a class="li">Москва</a></li>
						<li class="li-1"><a class="li">Санкт-Петербург</a></li>
						<li class="li-1"><a class="li">Воронеж</a></li>
						<li class="li-1"><a class="li">Волгоград</a></li>
						<li class="li-1"><a class="li">Екатеринбург</a></li>
						<li class="li-1"><a class="li">Казань</a></li>
						<li class="li-1"><a class="li">Красноярск</a></li>
						<li class="li-1"><a class="li">Новосибирск</a></li>
						<li class="li-1"><a class="li">Нижний Новгород</a></li>
						<li class="li-1"><a class="li">Омск</a></li>
						<li class="li-1"><a class="li">Пермь</a></li>
						<li class="li-1"><a class="li">Ростов-на-Дону</a></li>
						<li class="li-1"><a class="li">Самара</a></li>
						<li class="li-1"><a class="li">Челябинск</a></li>
						<li class="li-1"><a class="li">Уфа</a></li>
					</ul>
				</div>
				<div class="flex-city">
					<div class="city-div">
						<h1 class="city-key">А</h1>
						<ul>
							<li class="mart"><a class="city">Абакан</a></li>
							<li class="mart"><a class="city">Адлер</a></li>
							<li class="mart"><a class="city">Азнакаево</a></li>
							<li class="mart"><a class="city">Азов</a></li>
							<li class="mart"><a class="city">Алатырь</a></li>
							<li class="mart"><a class="city">Александровское</a></li>
							<li class="mart"><a class="city">Алексеевка</a></li>
							<li class="mart"><a class="city">Алексеевское</a></li>
							<li class="mart"><a class="city">Алексин</a></li>
							<li class="mart"><a class="city">Альметьевск</a></li>
							<li class="mart"><a class="city">Анапа</a></li>
							<li class="mart"><a class="city">Ангарск</a></li>
							<li class="mart"><a class="city">Апатиты</a></li>
							<li class="mart"><a class="city">Апрелевка</a></li>
							<li class="mart"><a class="city">Арамиль</a></li>
							<li class="mart"><a class="city">Арзамас</a></li>
							<li class="mart"><a class="city">Арзгир</a></li>
							<li class="mart"><a class="city">Армавир</a></li>
							<li class="mart"><a class="city">Арск</a></li>
							<li class="mart"><a class="city">Архангельск</a></li>
							<li class="mart"><a class="city">Асбест</a></li>
							<li class="mart"><a class="city">Астрахань</a></li>
							<li class="mart"><a class="city">Аткарск</a></li>
							<li class="mart"><a class="city">Ахтубинск</a></li>
							<li class="mart"><a class="city">Ачинск</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Б</h1>
							<li class="mart"><a class="city">Бавлы</a></li>
							<li class="mart"><a class="city">Баксан</a></li>
							<li class="mart"><a class="city">Балаково</a></li>
							<li class="mart"><a class="city">Балахна</a></li>
							<li class="mart"><a class="city">Балашиха</a></li>
							<li class="mart"><a class="city">Балашов</a></li>
							<li class="mart"><a class="city">Барнаул</a></li>
							<li class="mart"><a class="city">Батайск</a></li>
							<li class="mart"><a class="city">Безенчук</a></li>
							<li class="mart"><a class="city">Белая Калитва</a></li>
							<li class="mart"><a class="city">Белгород</a></li>
							<li class="mart"><a class="city">Белебей</a></li>
							<li class="mart"><a class="city">Белорецк</a></li>
							<li class="mart"><a class="city">Белореченск</a></li>
							<li class="mart"><a class="city">Бердск</a></li>
							<li class="mart"><a class="city">Березники</a></li>
							<li class="mart"><a class="city">Березовский</a></li>
							<li class="mart"><a class="city">Беслан</a></li>
							<li class="mart"><a class="city">Бийск</a></li>
							<li class="mart"><a class="city">Бирск</a></li>
							<li class="mart"><a class="city">Благовещенск</a></li>
							<li class="mart"><a class="city">Благодарный</a></li>
							<li class="mart"><a class="city">Боброво</a></li>
							<li class="mart"><a class="city">Богородицк</a></li>
							<li class="mart"><a class="city">Богородск</a></li>
							<li class="mart"><a class="city">Бор</a></li>
							<li class="mart"><a class="city">Борисоглебск</a></li>
							<li class="mart"><a class="city">Боровичи</a></li>
							<li class="mart"><a class="city">Бронницы</a></li>
							<li class="mart"><a class="city">Брянск</a></li>
							<li class="mart"><a class="city">Бугульма</a></li>
							<li class="mart"><a class="city">Бугуруслан</a></li>
							<li class="mart"><a class="city">Буденновск</a></li>
							<li class="mart"><a class="city">Бузулук</a></li>
							<li class="mart"><a class="city">Бутово</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">В</h1>
							<li class="mart"><a class="city">Валуйки</a></li>
							<li class="mart"><a class="city">Великий Новгород</a></li>
							<li class="mart"><a class="city">Верхнеуральск</a></li>
							<li class="mart"><a class="city">Верхняя Пышма</a></li>
							<li class="mart"><a class="city">Верхняя Салда</a></li>
							<li class="mart"><a class="city">Веселый</a></li>
							<li class="mart"><a class="city">Вешенская</a></li>
							<li class="mart"><a class="city">Видное</a></li>
							<li class="mart"><a class="city">Вичуга</a></li>
							<li class="mart"><a class="city">Владикавказ</a></li>
							<li class="mart"><a class="city">Владимир</a></li>
							<li class="mart"><a class="city">Внуково</a></li>
							<li class="mart"><a class="city">Волгоград</a></li>
							<li class="mart"><a class="city">Волгодонск</a></li>
							<li class="mart"><a class="city">Волжск</a></li>
							<li class="mart"><a class="city">Волжский</a></li>
							<li class="mart"><a class="city">Вологда</a></li>
							<li class="mart"><a class="city">Волоколамск</a></li>
							<li class="mart"><a class="city">Волхов</a></li>
							<li class="mart"><a class="city">Вольск</a></li>
							<li class="mart"><a class="city">Воронеж</a></li>
							<li class="mart"><a class="city">Ворсма</a></li>
							<li class="mart"><a class="city">Воскресенск</a></li>
							<li class="mart"><a class="city">Воткинск</a></li>
							<li class="mart"><a class="city">Всеволожск</a></li>
							<li class="mart"><a class="city">Выборг</a></li>
							<li class="mart"><a class="city">Выкса</a></li>
							<li class="mart"><a class="city">Вышний Волочек</a></li>
							<li class="mart"><a class="city">Вязники</a></li>
							<li class="mart"><a class="city">Вязьма</a></li>
							<li class="mart"><a class="city">Вятские Поляны</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Г</h1>
							<li class="mart"><a class="city">Гатчина</a></li>
							<li class="mart"><a class="city">Геленджик</a></li>
							<li class="mart"><a class="city">Георгиевск</a></li>
							<li class="mart"><a class="city">Глазов</a></li>
							<li class="mart"><a class="city">Горно-Алтайск</a></li>
							<li class="mart"><a class="city">Городец</a></li>
							<li class="mart"><a class="city">Гороховец</a></li>
							<li class="mart"><a class="city">Горячий Ключ</a></li>
							<li class="mart"><a class="city">Грязи</a></li>
							<li class="mart"><a class="city">Губкин</a></li>
							<li class="mart"><a class="city">Гуково</a></li>
							<li class="mart"><a class="city">Гусь-Хрустальный</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Д</h1>
							<li class="mart"><a class="city">Данков</a></li>
							<li class="mart"><a class="city">Дедовск</a></li>
							<li class="mart"><a class="city">Дзержинск</a></li>
							<li class="mart"><a class="city">Дзержинский</a></li>
							<li class="mart"><a class="city">Дивеево</a></li>
							<li class="mart"><a class="city">Дивное</a></li>
							<li class="mart"><a class="city">Димитровград</a></li>
							<li class="mart"><a class="city">Дмитров</a></li>
							<li class="mart"><a class="city">Добрянка</a></li>
							<li class="mart"><a class="city">Долгопрудный</a></li>
							<li class="mart"><a class="city">Домодедово</a></li>
							<li class="mart"><a class="city">Донецк</a></li>
							<li class="mart"><a class="city">Донское</a></li>
							<li class="mart"><a class="city">Донской</a></li>
							<li class="mart"><a class="city">Дубна</a></li>
							<li class="mart"><a class="city">Дубовка</a></li>
							<li class="mart"><a class="city">Дюртюли</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Е</h1>
							<li class="mart"><a class="city">Егорьевск</a></li>
							<li class="mart"><a class="city">Ейск</a></li>
							<li class="mart"><a class="city">Екатеринбург</a></li>
							<li class="mart"><a class="city">Елабуга</a></li>
							<li class="mart"><a class="city">Елань</a></li>
							<li class="mart"><a class="city">Елец</a></li>
							<li class="mart"><a class="city">Енотаевка</a></li>
							<li class="mart"><a class="city">Ершов</a></li>
							<li class="mart"><a class="city">Ессентуки</a></li>
							<li class="mart"><a class="city">Ефремов</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Ж</h1>
							<li class="mart"><a class="city">Железноводск</a></li>
							<li class="mart"><a class="city">Железногорск (Красноярский край)</a></li>
							<li class="mart"><a class="city">Железногорск (Курская область)</a></li>
							<li class="mart"><a class="city">Жердевка</a></li>
							<li class="mart"><a class="city">Жигулевск</a></li>
							<li class="mart"><a class="city">Жирновск</a></li>
							<li class="mart"><a class="city">Жуковский</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">З</h1>
							<li class="mart"><a class="city">Заволжье</a></li>
							<li class="mart"><a class="city">Задонск</a></li>
							<li class="mart"><a class="city">Заречный</a></li>
							<li class="mart"><a class="city">Засечное</a></li>
							<li class="mart"><a class="city">Звенигород</a></li>
							<li class="mart"><a class="city">Зеленогорск</a></li>
							<li class="mart"><a class="city">Зеленоград</a></li>
							<li class="mart"><a class="city">Зеленодольск</a></li>
							<li class="mart"><a class="city">Зеленокумск</a></li>
							<li class="mart"><a class="city">Зерноград</a></li>
							<li class="mart"><a class="city">Зимовники</a></li>
							<li class="mart"><a class="city">Златоуст</a></li>
							<li class="mart"><a class="city">Знаменск</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">И</h1>
							<li class="mart"><a class="city">Ибреси</a></li>
							<li class="mart"><a class="city">Иваново</a></li>
							<li class="mart"><a class="city">Ивантеевка</a></li>
							<li class="mart"><a class="city">Ижевск</a></li>
							<li class="mart"><a class="city">Изобильный</a></li>
							<li class="mart"><a class="city">Иловля</a></li>
							<li class="mart"><a class="city">Ильинский</a></li>
							<li class="mart"><a class="city">Ипатово</a></li>
							<li class="mart"><a class="city">Иркутск</a></li>
							<li class="mart"><a class="city">Искитим</a></li>
							<li class="mart"><a class="city">Истра</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Й</h1>
							<li class="mart"><a class="city">Йошкар-Ола</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">К</h1>
							<li class="mart"><a class="city">Казань</a></li>
							<li class="mart"><a class="city">Калач-на-Дону</a></li>
							<li class="mart"><a class="city">Калининск</a></li>
							<li class="mart"><a class="city">Калуга</a></li>
							<li class="mart"><a class="city">Каменка</a></li>
							<li class="mart"><a class="city">Каменск-Уральский</a></li>
							<li class="mart"><a class="city">Каменск-Шахтинский</a></li>
							<li class="mart"><a class="city">Камызяк</a></li>
							<li class="mart"><a class="city">Камышин</a></li>
							<li class="mart"><a class="city">Канаш</a></li>
							<li class="mart"><a class="city">Кандалакша</a></li>
							<li class="mart"><a class="city">Каневская</a></li>
							<li class="mart"><a class="city">Канск</a></li>
							<li class="mart"><a class="city">Карачев</a></li>
							<li class="mart"><a class="city">Карталы</a></li>
							<li class="mart"><a class="city">Качканар</a></li>
							<li class="mart"><a class="city">Кашира</a></li>
							<li class="mart"><a class="city">Кемерово</a></li>
							<li class="mart"><a class="city">Кингисепп</a></li>
							<li class="mart"><a class="city">Кинель</a></li>
							<li class="mart"><a class="city">Кинешма</a></li>
							<li class="mart"><a class="city">Кириши</a></li>
							<li class="mart"><a class="city">Киров</a></li>
							<li class="mart"><a class="city">Кирово-Чепецк</a></li>
							<li class="mart"><a class="city">Киселевск</a></li>
							<li class="mart"><a class="city">Кисловодск</a></li>
							<li class="mart"><a class="city">Клин</a></li>
							<li class="mart"><a class="city">Ковров</a></li>
							<li class="mart"><a class="city">Коломна</a></li>
							<li class="mart"><a class="city">Кольчугино</a></li>
							<li class="mart"><a class="city">Коммунарка</a></li>
							<li class="mart"><a class="city">Кондопога</a></li>
							<li class="mart"><a class="city">Константиновск</a></li>
							<li class="mart"><a class="city">Копейск</a></li>
							<li class="mart"><a class="city">Кореновск</a></li>
							<li class="mart"><a class="city">Коркино</a></li>
							<li class="mart"><a class="city">Королев</a></li>
							<li class="mart"><a class="city">Костомукша</a></li>
							<li class="mart"><a class="city">Кострома</a></li>
							<li class="mart"><a class="city">Котельники</a></li>
							<li class="mart"><a class="city">Котельниково</a></li>
							<li class="mart"><a class="city">Котово</a></li>
							<li class="mart"><a class="city">Котовск</a></li>
							<li class="mart"><a class="city">Кочубеевское</a></li>
							<li class="mart"><a class="city">Красноармейск</a></li>
							<li class="mart"><a class="city">Красногвардейское</a></li>
							<li class="mart"><a class="city">Красногорск</a></li>
							<li class="mart"><a class="city">Краснодар</a></li>
							<li class="mart"><a class="city">Краснокамск</a></li>
							<li class="mart"><a class="city">Красноярск</a></li>
							<li class="mart"><a class="city">Кропоткин</a></li>
							<li class="mart"><a class="city">Крымск</a></li>
							<li class="mart"><a class="city">Кстово</a></li>
							<li class="mart"><a class="city">Кугеси</a></li>
							<li class="mart"><a class="city">Кузнецк</a></li>
							<li class="mart"><a class="city">Кукмор</a></li>
							<li class="mart"><a class="city">Кулебаки</a></li>
							<li class="mart"><a class="city">Кумертау</a></li>
							<li class="mart"><a class="city">Кунгур</a></li>
							<li class="mart"><a class="city">Курган</a></li>
							<li class="mart"><a class="city">Курганинск</a></li>
							<li class="mart"><a class="city">Курск</a></li>
							<li class="mart"><a class="city">Курчатов</a></li>
							<li class="mart"><a class="city">Куса</a></li>
							<li class="mart"><a class="city">Кущевская</a></li>
							<li class="mart"><a class="city">Кыштым</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Л</h1>
							<li class="mart"><a class="city">Лабинск</a></li>
							<li class="mart"><a class="city">Лебедянь</a></li>
							<li class="mart"><a class="city">Ленинградская</a></li>
							<li class="mart"><a class="city">Лениногорск</a></li>
							<li class="mart"><a class="city">Ленинск</a></li>
							<li class="mart"><a class="city">Ленинск-Кузнецкий</a></li>
							<li class="mart"><a class="city">Ливны</a></li>
							<li class="mart"><a class="city">Липецк</a></li>
							<li class="mart"><a class="city">Лиски</a></li>
							<li class="mart"><a class="city">Лобня</a></li>
							<li class="mart"><a class="city">Ломоносов</a></li>
							<li class="mart"><a class="city">Лопатино</a></li>
							<li class="mart"><a class="city">Лосино-Петровский</a></li>
							<li class="mart"><a class="city">Луга</a></li>
							<li class="mart"><a class="city">Лысково</a></li>
							<li class="mart"><a class="city">Лысьва</a></li>
							<li class="mart"><a class="city">Лыткарино</a></li>
							<li class="mart"><a class="city">Люберцы</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">м</h1>
							<li class="mart"><a class="city">Магнитогорск</a></li>
							<li class="mart"><a class="city">Майкоп</a></li>
							<li class="mart"><a class="city">Маркс</a></li>
							<li class="mart"><a class="city">Мелеуз</a></li>
							<li class="mart"><a class="city">Миасс</a></li>
							<li class="mart"><a class="city">Миллерово</a></li>
							<li class="mart"><a class="city">Минеральные Воды</a></li>
							<li class="mart"><a class="city">Михайловка</a></li>
							<li class="mart"><a class="city">Михайловск</a></li>
							<li class="mart"><a class="city">Мичуринск</a></li>
							<li class="mart"><a class="city">Можайск</a></li>
							<li class="mart"><a class="city">Моздок</a></li>
							<li class="mart"><a class="city">Мончегорск</a></li>
							<li class="mart"><a class="city">Морозовск</a></li>
							<li class="mart"><a class="city">Моршанск</a></li>
							<li class="mart"><a class="city">Москва</a></li>
							<li class="mart"><a class="city">Московский</a></li>
							<li class="mart"><a class="city">Мурманск</a></li>
							<li class="mart"><a class="city">Муром</a></li>
							<li class="mart"><a class="city">Мценск</a></li>
							<li class="mart"><a class="city">Мытищи (Московская область)</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Н</h1>
							<li class="mart"><a class="city">Набережные Челны</a></li>
							<li class="mart"><a class="city">Навашино</a></li>
							<li class="mart"><a class="city">Нальчик</a></li>
							<li class="mart"><a class="city">Наро-Фоминск</a></li>
							<li class="mart"><a class="city">Нарткала</a></li>
							<li class="mart"><a class="city">Невинномысск</a></li>
							<li class="mart"><a class="city">Нефтегорск</a></li>
							<li class="mart"><a class="city">Нефтекамск</a></li>
							<li class="mart"><a class="city">Нижнекамск</a></li>
							<li class="mart"><a class="city">Нижний Ломов</a></li>
							<li class="mart"><a class="city">Нижний Новгород</a></li>
							<li class="mart"><a class="city">Нижний Тагил</a></li>
							<li class="mart"><a class="city">Николаевск</a></li>
							<li class="mart"><a class="city">Никольск</a></li>
							<li class="mart"><a class="city">Новоалександровск</a></li>
							<li class="mart"><a class="city">Новоалтайск</a></li>
							<li class="mart"><a class="city">Новоаннинский</a></li>
							<li class="mart"><a class="city">Нововоронеж</a></li>
							<li class="mart"><a class="city">Новокузнецк</a></li>
							<li class="mart"><a class="city">Новокуйбышевск</a></li>
							<li class="mart"><a class="city">Новомосковск</a></li>
							<li class="mart"><a class="city">Новониколаевский</a></li>
							<li class="mart"><a class="city">Новороссийск</a></li>
							<li class="mart"><a class="city">Новосибирск</a></li>
							<li class="mart"><a class="city">Новотроицк</a></li>
							<li class="mart"><a class="city">Новочебоксарск</a></li>
							<li class="mart"><a class="city">Новочеркасск</a></li>
							<li class="mart"><a class="city">Новошахтинск</a></li>
							<li class="mart"><a class="city">Ногинск</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">О</h1>
							<li class="mart"><a class="city">Обливская</a></li>
							<li class="mart"><a class="city">Обнинск</a></li>
							<li class="mart"><a class="city">Одинцово</a></li>
							<li class="mart"><a class="city">Озерск</a></li>
							<li class="mart"><a class="city">Октябрьск</a></li>
							<li class="mart"><a class="city">Омск</a></li>
							<li class="mart"><a class="city">Оренбург</a></li>
							<li class="mart"><a class="city">Орехово-Зуево</a></li>
							<li class="mart"><a class="city">Орловский</a></li>
							<li class="mart"><a class="city">Орёл</a></li>
							<li class="mart"><a class="city">Острогожск</a></li>
							<li class="mart"><a class="city">Отрадный</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">П</h1>
							<li class="mart"><a class="city">Павлово</a></li>
							<li class="mart"><a class="city">Павловская</a></li>
							<li class="mart"><a class="city">Павловский Посад</a></li>
							<li class="mart"><a class="city">Палласовка</a></li>
							<li class="mart"><a class="city">Пенза</a></li>
							<li class="mart"><a class="city">Первоуральск</a></li>
							<li class="mart"><a class="city">Пермь</a></li>
							<li class="mart"><a class="city">Петровск</a></li>
							<li class="mart"><a class="city">Петрозаводск</a></li>
							<li class="mart"><a class="city">Подольск</a></li>
							<li class="mart"><a class="city">Подрезково</a></li>
							<li class="mart"><a class="city">Полярные Зори</a></li>
							<li class="mart"><a class="city">Похвистнево</a></li>
							<li class="mart"><a class="city">Преображенская</a></li>
							<li class="mart"><a class="city">Приволжск</a></li>
							<li class="mart"><a class="city">Приволжский</a></li>
							<li class="mart"><a class="city">Приморско-Ахтарск</a></li>
							<li class="mart"><a class="city">Прокопьевск</a></li>
							<li class="mart"><a class="city">Пролетарск</a></li>
							<li class="mart"><a class="city">Протвино</a></li>
							<li class="mart"><a class="city">Прохладный</a></li>
							<li class="mart"><a class="city">Псков</a></li>
							<li class="mart"><a class="city">Пугачев</a></li>
							<li class="mart"><a class="city">Путилково</a></li>
							<li class="mart"><a class="city">Пушкин</a></li>
							<li class="mart"><a class="city">Пушкино</a></li>
							<li class="mart"><a class="city">Пущино</a></li>
							<li class="mart"><a class="city">Пятигорск</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Р</h1>
							<li class="mart"><a class="city">Раменское</a></li>
							<li class="mart"><a class="city">Рассказово</a></li>
							<li class="mart"><a class="city">Реутов</a></li>
							<li class="mart"><a class="city">Ржев</a></li>
							<li class="mart"><a class="city">Родники</a></li>
							<li class="mart"><a class="city">Россошь</a></li>
							<li class="mart"><a class="city">Ростов</a></li>
							<li class="mart"><a class="city">Ростов-на-Дону</a></li>
							<li class="mart"><a class="city">Ртищево</a></li>
							<li class="mart"><a class="city">Рубцовск</a></li>
							<li class="mart"><a class="city">Рудня</a></li>
							<li class="mart"><a class="city">Рыбинск</a></li>
							<li class="mart"><a class="city">Рязановское</a></li>
							<li class="mart"><a class="city">Рязань</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">С</h1>
							<li class="mart"><a class="city">Салават</a></li>
							<li class="mart"><a class="city">Сальск</a></li>
							<li class="mart"><a class="city">Самара</a></li>
							<li class="mart"><a class="city">Санкт-Петербург</a></li>
							<li class="mart"><a class="city">Саранск</a></li>
							<li class="mart"><a class="city">Сарапул</a></li>
							<li class="mart"><a class="city">Саратов</a></li>
							<li class="mart"><a class="city">Саров</a></li>
							<li class="mart"><a class="city">Сатка</a></li>
							<li class="mart"><a class="city">Сафоново</a></li>
							<li class="mart"><a class="city">Светлоград</a></li>
							<li class="mart"><a class="city">Северодвинск</a></li>
							<li class="mart"><a class="city">Семикаракорск</a></li>
							<li class="mart"><a class="city">Сергиев Посад</a></li>
							<li class="mart"><a class="city">Сердобск</a></li>
							<li class="mart"><a class="city">Серов</a></li>
							<li class="mart"><a class="city">Серпухов</a></li>
							<li class="mart"><a class="city">Сертолово</a></li>
							<li class="mart"><a class="city">Сибай</a></li>
							<li class="mart"><a class="city">Славянск-на-Кубани</a></li>
							<li class="mart"><a class="city">Смоленск</a></li>
							<li class="mart"><a class="city">Снежинск</a></li>
							<li class="mart"><a class="city">Соликамск</a></li>
							<li class="mart"><a class="city">Солнечногорск</a></li>
							<li class="mart"><a class="city">Сосновый Бор</a></li>
							<li class="mart"><a class="city">Сочи</a></li>
							<li class="mart"><a class="city">Ставрополь</a></li>
							<li class="mart"><a class="city">Староминская</a></li>
							<li class="mart"><a class="city">Старый Оскол</a></li>
							<li class="mart"><a class="city">Стерлитамак</a></li>
							<li class="mart"><a class="city">Строитель</a></li>
							<li class="mart"><a class="city">Ступино</a></li>
							<li class="mart"><a class="city">Суровикино</a></li>
							<li class="mart"><a class="city">Суходол</a></li>
							<li class="mart"><a class="city">Сызрань</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Т</h1>
							<li class="mart"><a class="city">Таганрог</a></li>
							<li class="mart"><a class="city">Тамбов</a></li>
							<li class="mart"><a class="city">Тверь</a></li>
							<li class="mart"><a class="city">Тейково</a></li>
							<li class="mart"><a class="city">Тельмана</a></li>
							<li class="mart"><a class="city">Темрюк</a></li>
							<li class="mart"><a class="city">Тимашевск</a></li>
							<li class="mart"><a class="city">Тихвин</a></li>
							<li class="mart"><a class="city">Тихорецк</a></li>
							<li class="mart"><a class="city">Тольятти</a></li>
							<li class="mart"><a class="city">Томск</a></li>
							<li class="mart"><a class="city">Торжок</a></li>
							<li class="mart"><a class="city">Тосно</a></li>
							<li class="mart"><a class="city">Троицк (Москва)</a></li>
							<li class="mart"><a class="city">Троицк (Челябинская область)</a></li>
							<li class="mart"><a class="city">Туапсе</a></li>
							<li class="mart"><a class="city">Туймазы</a></li>
							<li class="mart"><a class="city">Тула</a></li>
							<li class="mart"><a class="city">Тюмень</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">У</h1>
							<li class="mart"><a class="city">Углич</a></li>
							<li class="mart"><a class="city">Удомля</a></li>
							<li class="mart"><a class="city">Узловая</a></li>
							<li class="mart"><a class="city">Улан-Удэ</a></li>
							<li class="mart"><a class="city">Ульяновск</a></li>
							<li class="mart"><a class="city">Усть-Донецкий</a></li>
							<li class="mart"><a class="city">Усть-Лабинск</a></li>
							<li class="mart"><a class="city">Уфа</a></li>
							<li class="mart"><a class="city">Учалы</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Ф</h1>
							<li class="mart"><a class="city">Фролово</a></li>
							<li class="mart"><a class="city">Фрязино</a></li>
							<li class="mart"><a class="city">Фурманов</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Х</h1>
							<li class="mart"><a class="city">Химки</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Ц</h1>
							<li class="mart"><a class="city">Цивильск</a></li>
							<li class="mart"><a class="city">Цимлянск</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Ч</h1>
							<li class="mart"><a class="city">Чайковский</a></li>
							<li class="mart"><a class="city">Чапаевск</a></li>
							<li class="mart"><a class="city">Чебаркуль</a></li>
							<li class="mart"><a class="city">Чебоксары</a></li>
							<li class="mart"><a class="city">Челябинск</a></li>
							<li class="mart"><a class="city">Чердаклы</a></li>
							<li class="mart"><a class="city">Череповец</a></li>
							<li class="mart"><a class="city">Черкесск</a></li>
							<li class="mart"><a class="city">Чернышковский</a></li>
							<li class="mart"><a class="city">Чехов</a></li>
							<li class="mart"><a class="city">Чистополь</a></li>
							<li class="mart"><a class="city">Чкаловск</a></li>
							<li class="mart"><a class="city">Чусовой</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Ш</h1>
							<li class="mart"><a class="city">Шадринск</a></li>
							<li class="mart"><a class="city">Шахты</a></li>
							<li class="mart"><a class="city">Шебекино</a></li>
							<li class="mart"><a class="city">Шелехов</a></li>
							<li class="mart"><a class="city">Шумерля</a></li>
							<li class="mart"><a class="city">Шуя</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Щ</h1>
							<li class="mart"><a class="city">Щекино</a></li>
							<li class="mart"><a class="city">Щелково</a></li>
							<li class="mart"><a class="city">Щербинка</a></li>
							<li class="mart"><a class="city">Щёлково</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Э</h1>
							<li class="mart"><a class="city">Электросталь</a></li>
							<li class="mart"><a class="city">Электроугли</a></li>
							<li class="mart"><a class="city">Элиста</a></li>
							<li class="mart"><a class="city">Энгельс</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Ю</h1>
							<li class="mart"><a class="city">Южноуральск</a></li>
							<li class="mart"><a class="city">Юрюзань</a></li>
						</ul>
					</div>
					<div class="city-div">
						<ul>
							<h1 class="city-key">Я</h1>
							<li class="mart"><a class="city">Ялуторовск</a></li>
							<li class="mart"><a class="city">Ярославль</a></li>
						</ul>
					</div>
				</div>
				<hr class="hr-bot">
				<li class="lib"><a class="li-hr">— полноформатные магазины, в которых некоторые товары можно забрать в день покупки.</a></li>
			</div>
		</div>
		</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

$(function() {
 let header = $('.header-city');
 let hederHeight = header.height();
  

 $(window).scroll(function() {
   if($(this).scrollTop() > 1) {
    header.addClass('active');
    $('.header-min').addClass('active');
    $('body').css({
       'paddingTop': hederHeight+'px'
    });
   } else {
    header.removeClass('active');
    $('.header-min').removeClass('active');
    $('body').css({
     'paddingTop': 0
    })
   }
 });
});

	$('.flex200000').on('click', function(){
		$('.popup-city').addClass('active');
	});
	$('.input-city').on('click', function(){
		$('.hr-city').addClass('active');
	});
	$('.flex200000').on('click', function(){
		$('.popup-city-2').addClass('active');
	});
	$('.krest').on('click', function(){
		$('.popup-city').removeClass('active');
		$('.popup-city-2').removeClass('active');	
	});

	$('.data0100').on('click', function(){
		$('.popup-6').addClass('active');
	});
	$('.pofigy').on('click', function(){
		$('.popup-8').addClass('active');
	});
	$('.data3303').on('click', function(){
		$('.popup-6').addClass('active');
	});
	$('.aoaa').on('click', function(){
		$('.popup-6').addClass('active');
	});
	$('.rededal').on('click', function(){
		$('.popup-8').addClass('active');
	});
	$('.rededal2').on('click', function(){
		$('.popup-6').addClass('active');
	});
	$('.data4').on('click', function(){
		$('.popup-6').addClass('active');
	})
	$('.data0144').on('click', function(){
		$('.popup-8').addClass('active');
	});
	$('.mess').on('click', function(){
		$('.popup-10').addClass('active');
	});
	$('.krest').on('click', function(){
		$('.popup-10').removeClass('active');
		$('.popup-8').removeClass('active');
		$('.popup-6').removeClass('active');
	});
	$('.button-2').on('click', function(){
		$('.applications').addClass('active');
		$('.Company-data').addClass('remove');
		$('.aykcion').removeClass('active');
		$('.histori').removeClass('active');
		$('.button-1').addClass('active');
		$('.button-2').addClass('active');
		$('.boxcifra8').addClass('active')
		$('.button-3').removeClass('active');
		$('.button-4').removeClass('active');
	});

	$('.button-1').on('click', function(){
			$('.applications').removeClass('active');
			$('.Company-data').removeClass('remove');
			$('.aykcion').removeClass('active');
			$('.histori').removeClass('active');
			$('.button-1').removeClass('active');
			$('.button-2').removeClass('active');
			$('.boxcifra8').removeClass('active')
			$('.button-3').removeClass('active');
			$('.button-4').removeClass('active');
		});

	$('.button-3').on('click', function(){
		$('.applications').removeClass('active');
		$('.aykcion').addClass('active');
		$('.Company-data').addClass('remove');
		$('.histori').removeClass('active');
		$('.button-1').addClass('active');
		$('.button-2').removeClass('active');
		$('.boxcifra8').removeClass('active')
		$('.button-3').addClass('active');
		$('.button-4').removeClass('active');
	});

	$('.button-4').on('click', function(){
		$('.applications').removeClass('active');
		$('.aykcion').removeClass('active');
		$('.Company-data').addClass('remove');
		$('.histori').addClass('active');
		$('.button-1').addClass('active');
		$('.button-2').removeClass('active');
		$('.boxcifra8').removeClass('active')
		$('.button-3').removeClass('active');
		$('.button-4').addClass('active');
	});

	

</script>
</html>