<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/kabinet-prodavca-no-active.css">
	<title></title>
	<meta charset="utf-8">
</head>
<body>
	<div class="main_bloc">
		<div class="head">
			<div class="body">
				<div class="flexbetwen22 aicc">
					<div class="menu">
						<hr class="ml"></hr>
						<hr class="ml1"></hr>
						<hr class="ml"></hr>
					</div>
					<img src="../img/logoYoofEnd (1).png" class="sdfqw">
					<div class="flex200000">
						<img src="../img/tocha.png" class="tocha mr5">
						<h1 class="m mm2">Москва</h1>
					</div>
					<div class="m2">
						<h1 class="m">Вход</h1>
						<hr class="hr2"></hr>
						<h1 class="m">Регистрация</h1>
					</div>
				</div>
			</div>
			<hr class="line">
		</div>
		<img src="../img/heade.png" class="g42gsdf">
		<div class="body">	
				<div class="flexbetwen3">		
					<h1 class="a">ЛИЧНЫЙ КАБИНЕТ</h1>
					<div class="flexalin">
						<h1 class="a26">Аккаунт</h1>
						<a href="#" class="yelow">НЕ АКТИВЕН</a>
						<img class="img" src="../img/Mvideo.png">
						<h1 class="a25">ООО “М.Видео”</h1>
						<img class="exit" src="../img/exit.png">
					</div>
				</div>
				<div class="flexcenter">
					<button class="button-1"><span class="bh1 h1a">Данные компании</span></button>
					<button class="button-2"><span class="bh2 h1a">Новые заявки</span><div class="boxcifra8">2</div></button>
					<button class="button-3"><span class="bh3 h1a">Активные аукционы</span></button>
					<button class="button-4"><span class="bh4 h1a">История аукционов</span></button>
				</div>

		
				<div class="Company-data">
					<div class="flex3001">
						<div>
							<div class="flex103"><h1 class="h1_1">Название организации или ИП</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Юридический адрес</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">ИНН</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Банк</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Расчетный счет</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">КПП</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">БИК банка</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Адрес электронной почты</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Сменить пароль</h1><input type="text" class="text1"></div>
							<div class="flex1"><h1 class="h1_1">Повторить пароль</h1><input type="text" class="text1"></div>							
							<div class="lrok"><button class="button1"><span class="cox">СОХРАНИТЬ ИЗМЕНЕНИЯ</span></button></div>
						</div>
						<div class="adres">
							<div>
								<h1 class="h1a-0 mtt">Продаваемые вами категории</h1>
								<div>
									<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t">Смартфоны</h1></div>
									<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t">Холодильники</h1></div>
									<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t">Телевизоры</h1></div>
									<div class="flex"><input type="checkbox" class="checkboxi"><h1 class="h1_1 m5t">Ноутбуки</h1></div>
									<h1 class="zeleni">Показать все ></h1>
								</div>
							</div>
							<div >
								<h1 class="h1a mtaw">Физическое расположение<br>магазина/склада (для самовывоза)</h1>
								<div>
									<input type="text" class="text1 txt">
									<h1 class="h1_1 mdm">Возможные города доставки</h1>
									<input type="text" class="text1 txt">
								</div>
							</div>
							<h1 class="h1a">Документы компании</h1>
							<div class="flexalingce">
								<h1 class="ogr">Свидетельство ОГРН (или<br>лист записи ЕГРЮЛ)</h1>
								<img src="../img/skrepka.png" class="size1530">
								<h1 class="krep1">Прикрепить</h1>
							</div>
							<div class="flexalingce">
								<h1 class="ogr2">Свидетельство ИНН</h1>
								<img src="../img/skrepka.png" class="size1530">
								<h1 class="krep2">Прикрепить</h1>
							</div>
							<button class="button999"><span class="cox">АКТИВИРОВАТЬ АККАУНТ</span></button>
							<h1 class="rdftgh">*Активация аккаунта занимает от 1 до 24 часов</h1>
						</div>
						</div>
					</div>
				
		<div class="applications">
			<div class="body222">
				<div class="hr_big">
					<div class="flexaround">
						<div>
						<h2 class="h8">Номер заявки</h2>
						<div class="mh45"></div>
							<div class="flex">
								<img src="../img/boxgal.png" class="size2020">
								<h1 class="data0100"><span class="color-zel">№325478</span> от<br>01.03.2021</h1>
							</div>
						</div>
						<div>
							<h2 class="h8">Наименование товара</h2>
							<div class="mh45"></div>
							<h1 class="data3303">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						</div>
						<div>
							<h2 class="h8">Текущая цена</h2>
							<div class="mh45"></div>
							<h1 class="data0103">18 000₽</h1>
						</div>
						<div>
							<h2 class="h8">Статус</h2>
							<div class="mh45"></div>
							<div class="flex">
								<div class="boxcifra4">4</div>
								<div class="aoaa"><h1 class="data4 color-zel">Прием заявок</h1>
								<h2 class="ys4">4 участника</h2></div>
							</div>
						</div>
						<div>
							<h2 class="h8">Чат с покупателем</h2>
							<div class="mh45"></div>
							<div class="flex">
								<div class="boxcifra4">2</div>
								<h1 class="data0103 color-zel mess">Сообщения</h1>
							</div>	
						</div>
						<div>
							<h2 class="h8">Настройки</h2>
							<div class="mh45"></div>
							<div>
								<div class="flex"><img src="../img/izmene.png" class="size17"><h1 class="rededal2">Участвовать</h1></div>
								<div class="flex"><img src="../img/ydal.png" class="size1419"><h1 class="rededal2">Отказаться</h1></div>
							</div>
						</div>
					</div>
						<hr class="hr_min">
				</div>
			</div>
			<div class="adap">
				<div class="bodyl">
				<div class="flex">
					<div class="hr_big2 mr10">
							<h2 class="h88">Номер заявки</h2>
							<h2 class="h88">Наименование товара</h2>
							<h2 class="h88">Текущая цена</h2>
							<h2 class="h88">Статус</h2>
							<h2 class="h88">Чат</h2>
							<h2 class="h88">Настройки</h2>
					</div>
					<div class="tal">
						<div class="flex pds">
							<img src="../img/boxgal.png" class="size2020">
							<h1 class="data0100"><span class="color-zel">№325478</span> от 01.03.2021</h1>
						</div>
						<h1 class="data3303 p10d">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						<h1 class="data0103 p10d">18 000₽</h1>
						<div class="flex p10d">
							<div class="boxcifra4">4</div>
							<div class="aoaa"><h1 class="data4 color-zel">Прием заявок</h1>
							<h2 class="ys4">4 участника</h2></div>
						</div>
						<div class="flex p8d">
							<div class="boxcifra4">2</div>
							<h1 class="data0103 color-zel mess">Сообщения</h1>
						</div>
						<div class="p10d">
							<div class="flex"><img src="../img/izmene.png" class="size17"><h1 class="rededal2">Участвовать</h1></div>
							<div class="flex"><img src="../img/ydal.png" class="size1419"><h1 class="rededal2">Отказаться</h1></div>
						</div>	
					</div>
				</div>
						<hr class="hr_mini2">
				</div>
			</div>
		</div>
		<div class="aykcion">
			<div class="body222">
				<div class="hr_big">
					<div class="flexaround">
						<div>
							<h2 class="h8">Номер заявки</h2>
							<div class="mh45"></div>
							<div class="flex">
								<h1 class="data1111">Аукцион<span class="color-zel"> №325478</span><br>от 01.03.2021</h1>
							</div>
						</div>
						<div>
							<h2 class="h8">Наименование товара</h2>
							<div class="mh45"></div>
							<h1 class="data33030">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						</div>
						<div>
							<h2 class="h8">Текущая цена</h2>
							<div class="mh45"></div>
							<h1 class="data0103">18 000₽</h1>
						</div>
						<div>
							<h2 class="h8">Статус</h2>
							<div class="mh45"></div>
							<div class="flex">
								<div class="aoaa"><h1 class="data0144 color-zel">Прием ставок</h1></div>
							</div>
						</div>
						<div>
							<h2 class="h8">Чат с покупателем</h2>
							<div class="mh45"></div>
							<div class="flex">
								<div class="boxcifra4">2</div>
								<h1 class="data0103 color-zel mess">Сообщения</h1>
							</div>	
						</div>
						<div>
							<h2 class="h8">Настройки</h2>
							<div class="mh45"></div>
							<div>
								<div class="flex"><img src="../img/izmene.png" class="size17"><h1 class="rededal">Предложить цену</h1></div>
								<div class="flex"><img src="../img/ydal.png" class="size1419"><h1 class="rededal">Отказаться</h1></div>
							</div>
						</div>
					</div>
					<hr class="hr_min">
				</div>
			</div>
				<div class="adap2">
					<div class="bodyl">
						<div class="flex">
							<div class="hr_big2 mr10">	
								<h2 class="h88">Номер заявки</h2>
								<h2 class="h88">Наименование товара</h2>
								<h2 class="h88">Текущая цена</h2>
								<h2 class="h88">Статус</h2>
								<h2 class="h88">Чат с покупателями</h2>	
								<h2 class="h88">Настройки</h2>
							</div>
							<div class="tal">
								<h1 class="data1111 pds">Аукцион<span class="color-zel"> №325478</span> от 01.03.2021</h1>
								<h1 class="data33030 p10d">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
								<h1 class="data0103 p10d">18 000₽</h1>
								<div class="flex p10d">
								<div class="aoaa"><h1 class="data0144 color-zel">Прием ставок</h1></div>
							</div>
							<div class="flex p10d">
								<div class="boxcifra4">2</div>
								<h1 class="data0103 color-zel mess">Сообщения</h1>
							</div>
							<div class="p30d">
								<div class="flex"><img src="../img/izmene.png" class="size17"><h1 class="rededal">Предложить цену</h1></div>
								<div class="flex"><img src="../img/ydal.png" class="size1419"><h1 class="rededal">Отказаться</h1></div>
							</div>
						</div>
					</div>
					<hr class="hr_min">
				</div>
				</div>
		</div>
		<div class="histori">
			<div class="body222">
				<div class="hr_big">
					<div class="flexaround">
						<div>
							<h2 class="h8">Номер заявки</h2>
							<div class="mh45"></div>
							<div class="flex">
								
								<h1 class="data2">Аукцион<span class="color-zel"> №325478</span><br>от 01.03.2021</h1>
							</div>
						</div>
						<div>
							<h2 class="h8">Наименование товара</h2>
							<div class="mh45"></div>
							<h1 class="data6">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						</div>
						<div>
							<h2 class="h8">Итоговая цена</h2>
							<div class="mh45"></div>
							<h1 class="data0103">17 200₽</h1>
						</div>
						<div>
							<h2 class="h8">Результат</h2>
							<div class="mh25"></div>
							<img src="../img/win.png" class="size80">
						</div>
						<div>
							<h2 class="h8">Доставка</h2>
							<div class="mh45"></div>
							<h1 class="data0103">Самовывоз</h1>
						</div>
						<div>
								<h2 class="h8">Статус</h2>
								<div class="mh45"></div>
								<h1 class="data0103 color-zel w">Доставлен<br>в магазин</h1>
							</div>
					</div>
						<hr class="hr_min">
				</div>
				<div class="flexaround mt192 wid">
						<div>
							<div class="mh45"></div>
							<div class="flex">
								
								<h1 class="data2">Аукцион<span class="color-zel"> №325478</span><br>от 01.03.2021</h1>
							</div>
						</div>
						<div>
							<div class="mh45"></div>
							<h1 class="data6">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
						</div>
						<div>
							<div class="mh45"></div>
							<h1 class="data0103 w2">17 200₽</h1>
						</div>
						<div>
							<div class="mh25"></div>
							<img src="../img/lose.png" class="size80">
						</div>
						<div>
								<div class="mh45"></div>
								<h1 class="data0103">Доставка</h1>
								<h2 class="ylica">123456, Москва, ул. Багратиона, д.9, кв. 35</h2>
						</div>
						<div>
							<div class="mh45"></div>
							<h1 class="data0103 color-zel">Доставлен<br><span class="color-zel2">Отслеживание</span></h1>
						</div>
					</div>
					<hr class="hr_min">
			</div>
			<div class="adap3">
				<div class="bodyl">
					<div class="flex">
						<div class="hr_big2 mr10">
								<h2 class="h88">Номер заявки</h2>
								<h2 class="h88">Наименование товара</h2>
								<h2 class="h88">Итоговая цена</h2>
								<h2 class="h88">Результат</h2>
								<h2 class="h88">Доставка</h2>
								<h2 class="h88">Статус</h2>
						</div>
						<div class="tal">
							<h1 class="data2 pds">Аукцион<span class="color-zel"> №325478</span> от 01.03.2021</h1>
							<h1 class="data6 p10d">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
							<h1 class="data0103 w2 p10d">17 200₽</h1>
							<img src="../img/lose.png" class="size50 p8d">
							<div class="flex p8d">
								<h1 class="data0103">Доставка</h1>
								<h2 class="ylica4">123456, Москва, ул. Багратиона, д.9, кв. 35</h2>
							</div>
							<h1 class="data0103 color-zel p10d">Доставлен<br><span class="color-zel2">Отслеживание</span></h1>
						</div>
					</div>
					<hr class="hr_min">
					<div class="flex">
						<div class="hr_big2 mr10">
								<h2 class="h88">Номер заявки</h2>
								<h2 class="h88">Наименование товара</h2>
								<h2 class="h88">Итоговая цена</h2>
								<h2 class="h88">Результат</h2>
								<h2 class="h88">Доставка</h2>
								<h2 class="h88">Статус</h2>
						</div>
						<div class="tal">
							<h1 class="data2 pds">Аукцион<span class="color-zel"> №325478</span> от 01.03.2021</h1>
							<h1 class="data6 p10d">Ноутбук ASUS VivoBook<br>Max X541NC-DM114T</h1>
							<h1 class="data0103 w2 p10d">17 200₽</h1>
							<img src="../img/win.png" class="size50 p8d">
							<div class="flex p8d">
								<h1 class="data0103">Самовывоз</h1>
							</div>
							<h1 class="data0103 color-zel p10d">Доставлен в магазин</span></h1>
						</div>
					</div>
					<hr class="hr_min">
				</div>
			</div>
		</div>
		</div>

		<div class="footer">
			<div class="bodybetwenn">
				<img src="../img/logoYoofEnd (2).png" class="fsds3f">
				<div class="asd24gd">
					<h1 class="hh1">О сервисе</h1>
					<div class="mr20"><a class="hh2">Как работает сервис?</a></div>
					<div class="mr20"><a class="hh2">Правила использования</a></div>
					<div class="mr20"><a class="hh2">Отзывы о нас</a></div>
				</div>
				<div class="asf04n">
					<h1 class="hh1">Контакты</h1>
					<div class="flexasf2"><img src="../img/ins.png" class="asd2b mr5"><a class="hh2">Instagram</a></div>
					<div class="flexasf2"><img src="../img/fac.png" class="asd2b mr5"><a class="hh2">Facebook</a></div>
					<div class="flexasf2"><img src="../img/tel.png" class="asd2b mr5"><a class="hh2">Telegram</a></div>
				</div>
			</div>
		</div>

		</div><!-- main bloc -->


<div class="popup-66">
			<div class="popup-666">
			<div class="body">

				<img src="../img/krest.png" class="krest3">
				<h1 class="pppp10 fonsize">АУКЦИОН №325478</h1>
				<h2 class="fonsize-slim">Ноутбук ASUS VivoBook Max X541NC-DM114T</h2>
				<div class="flex">
					<div class="tar2">
						<h1 class="fonsize-slim2">Начальная стоимость</h1>
						<h1 class="fonsize-slim2 mar30">Информация о товаре</h1>
						<h1 class="fonsize-slim2 mat192">Доставка</h1>
						<h1 class="fonsize-slim2 mar30">Добавить комментарий</h1>
					</div>
					<div class="wid70">
						<h1 class="data0103 asdd">18 000 ₽</h1>
						<h2 class="mar0 mar30"><span class="fonsize-slim2">Диагональ/разрешение</span> <span class="data0103">15.6"/1920х1080 пикс.</span><br>
							<span class="fonsize-slim2">Процессор</span><span class="data0103 asdd">Intel Pentium N4200 1.1 ГГц</span><br>
							<span class="fonsize-slim2">Оперативная память (RAM)</span> <span class="data0103">4 ГБ</span><br>
							<span class="fonsize-slim2">Графический контроллер</span> <span class="data0103">GeForce 810M 2ГБ</span><br>
							<span class="fonsize-slim2">ОбЪем HDD</span> <span class="data0103">500 ГБ</span></h2>
							<h2 class="ylica2 mar50">123456, Москва, ул. Багратиона, д.9, кв. 35</h2>
							<input type="text" class="lasttext">
							<button class="aswb data0103">СОХРАНИТЬ</button>
						<button class="asb data0103 pofigy">НАЧАТЬ ТОРГИ</button>
					</div>
				</div>

			</div>
			</div>
		</div>

<div class="popup-88">
			<div class="popup-888">
			<div class="body">
				<img src="../img/krest.png" class="krest3">
				<h1 class="pppp10 fonsize">АУКЦИОН №325478</h1>
				<h2 class="fonsize-slim">Ноутбук ASUS VivoBook Max X541NC-DM114T</h2>
				<div class="fc">
					<div class="flex">
						<div class="tar2">
								<h1 class="fonsize-slim2">Информация о товаре</h1>
								<h1 class="fonsize-slim2 mat192">Начальная стоимость</h1>
								<h1 class="fonsize-slim2 mar30">Предложения продавцов</h1>
								<h1 class="fonsize-slim2 cenam">Моя цена</h1>
						</div>
						<div class="wid70">
							<h2 class="mmm22"><span class="fonsize-slim2 asdwg">Диагональ/разрешение</span> <span class="data0103">15.6"/1920х1080 пикс.</span><br>
							<span class="fonsize-slim2 asdwg">Процессор</span><span class="data0103 asdd">Intel Pentium N4200 1.1 ГГц</span><br>
							<span class="fonsize-slim2 asdwg">Оперативная память (RAM)</span> <span class="data0103">4 ГБ</span><br>
							<span class="fonsize-slim2 asdwg">Графический контроллер</span> <span class="data0103">GeForce 810M 2ГБ</span><br>
							<span class="fonsize-slim2 asdwg">ОбЪем HDD</span> <span class="data0103">500 ГБ</span></h2>
							<h1 class="data0103 marbottom">18 000₽</h1>
							<div class="blockdis mar35px">
							<div><button class="ded2"><h2 class="ylica3">23.03.2021 в 10:34</h2><span class="flexaround"><h1 class="data0103">М.Видео</h1><h1 class="data0103">17 900₽</h1></span></button></div>
							<div><button class="ded2"><h2 class="ylica3">23.03.2021 в 10:34</h2><span class="flexaround"><h1 class="data0103">Ситилинк</h1><h1 class="data0103">17 900₽</h1></span></button></div>
							<div><button class="ded2"><h2 class="ylica3">23.03.2021 в 10:34</h2><span class="flexaround"><h1 class="data0103">Эльдорадо</h1><h1 class="data0103">17 900₽</h1></span></button></div>
							<div><button class="ded2"><h2 class="ylica3">23.03.2021 в 10:34</h2><span class="flexaround"><h1 class="data0103">Online</h1><h1 class="data0103">17 900₽</h1></span></button></div>
							<input type="text" class="moicena">
							<div><button class="asb data0109 mar50">ПРЕДЛОЖИТЬ ЦЕНУ</button></div>
						</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="popup-10">
			<div class="popup-100">
			<div class="body">
				<img src="../img/krest.png" class="krest">
				<h1 class="pppp10 fonsize">АУКЦИОН №325478</h1>
				<h2 class="fonsize-slim">Ноутбук ASUS VivoBook Max X541NC-DM114T</h2>
					<div class="jcc mt50">
					<div>
						<div class="flex">
							<h1 class="fonsize-slim2 tar2">Информация о товаре</h1>
							<h2 class="mmm"><span class="fonsize-slim2 asdwg">Диагональ/разрешение</span> <span class="data0103">15.6"/1920х1080 пикс.</span><br>
							<span class="fonsize-slim2 asdwg">Процессор</span><span class="data0103 asdd">Intel Pentium N4200 1.1 ГГц</span><br>
							<span class="fonsize-slim2 asdwg">Оперативная память (RAM)</span> <span class="data0103">4 ГБ</span><br>
							<span class="fonsize-slim2 asdwg">Графический контроллер</span> <span class="data0103">GeForce 810M 2ГБ</span><br>
							<span class="fonsize-slim2 asdwg">ОбЪем HDD</span> <span class="data0103">500 ГБ</span></h2>
						</div>
						<div class="flex mar30">
							<h1 class="fonsize-slim2 tar2 mar30 asasas">Сообщения</h1>
							<div>
								<input type="text" class="lasttext">
								<button class="asb data0109 mar50">ЗАВЕРШИТЬ АУКЦИОН</button>
							</div>
						</div>
					</div>
					</div>
					</div>
			</div>
			</div>
		</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$('.data0100').on('click', function(){
		$('.popup-66').addClass('active');
	});
	$('.pofigy').on('click', function(){
		$('.popup-88').addClass('active');
	});
	$('.data3303').on('click', function(){
		$('.popup-66').addClass('active');
	});
	$('.aoaa').on('click', function(){
		$('.popup-66').addClass('active');
	});
	$('.rededal').on('click', function(){
		$('.popup-88').addClass('active');
	});
	$('.rededal2').on('click', function(){
		$('.popup-66').addClass('active');
	});
	$('.data4').on('click', function(){
		$('.popup-66').addClass('active');
	})
	$('.data0144').on('click', function(){
		$('.popup-88').addClass('active');
	});
	$('.krest3').on('click', function(){
		$('.popup-88').removeClass('active');
		$('.popup-66').removeClass('active');
	});
	$('.button-2').on('click', function(){
		$('.histori').removeClass('active');
		$('.applications').addClass('active');
		$('.Company-data').addClass('remove');
		$('.aykcion').removeClass('active');
		$('.button-1').addClass('active');
		$('.button-2').addClass('active');
		$('.boxcifra8').addClass('active');
		$('.button-3').removeClass('active');
		$('.button-4').removeClass('active');
	});

	$('.button-1').on('click', function(){
		$('.histori').removeClass('active');
			$('.applications').removeClass('active');
			$('.Company-data').removeClass('remove');
			$('.aykcion').removeClass('active');
			$('.button-1').removeClass('active');
			$('.button-2').removeClass('active');
			$('.boxcifra8').removeClass('active');
			$('.button-3').removeClass('active');
			$('.button-4').removeClass('active');
		});

	$('.button-3').on('click', function(){
		$('.histori').removeClass('active');
		$('.applications').removeClass('active');
		$('.aykcion').addClass('active');
		$('.Company-data').addClass('remove');
		$('.button-1').addClass('active');
		$('.button-2').removeClass('active');
		$('.boxcifra8').removeClass('active');
		$('.button-3').addClass('active');
		$('.button-4').removeClass('active');
	});

	$('.button-4').on('click', function(){
		$('.applications').removeClass('active');
		$('.aykcion').removeClass('active');
		$('.Company-data').addClass('remove');
		$('.histori').addClass('active');
		$('.button-1').addClass('active');
		$('.button-2').removeClass('active');
		$('.boxcifra8').removeClass('active');
		$('.button-3').removeClass('active');
		$('.button-4').addClass('active');
	});

	$('.krest').on('click', function(){
		$('.popup-10').removeClass('active');
	
	});
	$('.mess').on('click', function(){
		$('.popup-10').addClass('active');
	});
</script>
</html>