* {
    scroll-behavior: smooth;
}

.blok{
    width: 100%;
    height: 600px;/*1080px*/
    background-color: #fff;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: bottom, bottom;
    background-repeat: no-repeat;
}
.aa:hover{
    color: #EBF005;
}
.background{

}

.main_blok{

    width: 100%;
}

.people{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 8%;
}
.connect{
    margin: 0;
}
.mt60{
    margin-top: 80px;
}
.connect2{
    margin-bottom: 60px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    line-height: 124.68%;
    color: white;
}

.sms{
    width: 150px; height: 23px;
}

.app{
    width: 35px; height: 38px;
}

.ind{
    width: 148px; height: 37px;
}

.lg{
    width: 103px; height: 49px;
}

.asus{
    width: 105px; height: 20px;
}

.beko{
    width: 86px; height: 49px;
}

.button{

    cursor: pointer;
    width: 200px;
    height: 70px;
    border: 0;
    border-radius: 10px;
    margin-top: 5%;
    z-index: 1;
    background-color:#EBF005;
}

.holodilnik{
    margin-top: 9%;
    z-index: 4;
    text-align: left;
    padding-top: 0;
    width: 620px;
    height: 440px;
}

.name{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #909090;
}



.lypa{
    position: absolute;
    top: 46px;
    width: 25px;
    padding-left: 20px;
}
.lypa2{
    position: absolute;
    top: 13px;
    width: 25px;
    padding-left: 20px;
}
.lypa3{
    position: absolute;
    top: 15px;
    width: 15px;
}
.mm2{
    margin: 0;
}

.plac{
    padding-left: 55px;
}
.text{
    border: 0;
    border-radius: 10px;
    margin-top: 3%;
    width: 100%;
    height: 50px;
    z-index: 0;
    padding-left: 55px;
}

.lllll{
    right: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    color: #000000;
    margin-left: 30%;
    margin-right: 30%;
}

.llll{
    cursor: pointer;
    position: absolute;
    right: 0;
    border: 0;
    width: 200px;
    height: 52px;
    border-radius: 10px;
    background-color: #EBF005;
    z-index: 2;
    bottom: 0;
}
.llll22{
    cursor: pointer;
    position: absolute;
    right: 0;
    border: 0;
    width: 200px;
    height: 52px;
    border-radius: 10px;
    background-color: #EBF005;
    z-index: 2;
    bottom: 0;
}
.size{
    width: 50px; height: 50px;
}

.lll{
    cursor: pointer;
    position: absolute;
    z-index: 10;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    right: 15px;
}
.lll22{
    cursor: pointer;
    position: absolute;
    z-index: 10;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    right: 15px;
}
.plusy{
    width: 12px;
    height: 12px;
    color: #EBF005;
}

.png123{
    width: 360px;
    height: 240px;
    margin-top: 60px;
}

.line666{
    margin-top: 4px; width: 100%;
    background-color: #EBF005;
    height: 3px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 3px;
}

.line777{
    margin-top: 4px; width: 500px;
    background-color: #EBF005;
    height: 3px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 3px;
}

.line{
    background-color: #EBF005;
    width: 100%;
    height: 3px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 3px;
}


.line999{
    width: 370px; margin:0; margin-top: 10px;
    background-color: #EBF005;
    height: 3px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 3px;
}


.menu{
    justify-content: flex-start;
    width: 45px;
    background-color: #fff;
}

.unknown{
    margin-top: 11%;
    margin-right: 2px;
    width: 17%;
    height: 30%;
    size: 1%;
}

.hr1{
    margin-top: 1%;
    margin-bottom: 0%;
    height: 2px;
    width: 100%;
    margin-right: 100%;
    background-color: #EBF005;

}

.h1{
    color: white;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 0.02em;
}

.padt100{
    padding-top: 70px;
}

.m{

    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.m2{
    cursor: pointer;
    justify-content: flex-end;
    display: flex;
}

.local{
    margin-right: 10%;
    display: flex;
    margin-left: 0;
    padding-top: 2%;
}

.hr2{

    right: 0;
    margin-right: 10px;
    margin-left: 10px;
    border: 0;
    background: #1D8C0080;
    width: 2px;
    height: 30px;
}

.h2{
    line-height: 1.5px;
    margin-top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 124.68%;
    color: black;
}

.h202{
    line-height: 1.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 124.68%;
    color: white;
    text-align: left;
}

.mt22{
    margin-top: 2%;
}

.ddsa{
    justify-content: center; display: flex;
}

.dsa{
    position: relative;
    display: flex;
    justify-content: center;
}
.dsa3{
    position: relative;
    display: flex;
    justify-content: center;
}
.dsa2{
    z-index: 1000;
    position: relative;
    display: flex;
    justify-content: center;
}
.ittt{
    margin-right: 20px;
}

.FLEXspec{
    justify-content: center;
    position: relative;
    display: flex;
}

.FLEXspec2{
    justify-content: center;
    position: relative;
    display: flex;
}
.ai{
    align-items: center;
}

.FLEXpngtest{
    justify-content: space-between;
    position: relative;
    display: flex;
}
.FLEXasd{
    width: 264px;
    justify-content: space-between;
    position: relative;
    display: flex;
}

.FLEXspectest{
    justify-content: space-between;
    position: relative;
    display: flex;
}

.FLEX555{
    justify-content: flex-start;
    display: flex;
}

.FLEX5{
    justify-content: space-between;
    display: flex;
}
.FLEX6{
    margin-right: 25px;
    margin-left: 25px;
    justify-content: space-between;
    display: flex;
}
.box_2022{
    margin-top: 20px;
    width: 50%;
    height: 20%	;
}
.box_2026{
    margin-left: 5%;
    margin-top: 20px;
    width: 50%;
    height: 200px;
}

.box_2028{
    margin-top: 20px;
    width: 50%;
}

.box_2027{
    margin-top: 20px;
    width: 50%;
}
.box_20200{
    margin-top: 20px;
    width: 50%;
}
.box_2029{
    margin-left: 5%;
    margin-top: 20px;
    width: 50%;
    height: 10%;
}

.box_2021{
    padding-top: 60px;
}
.gvf{
    width: 50px;height: 50px;
}

.vvv{
    width: 50px;height: 50px;margin: 10px;margin-top: 0;
}

.FLEX2{
    justify-content: space-between; margin-top: 67px;
    position: relative;
    display: flex;
}
.wid{
    width: 100%;
}
.flex{
    position: relative;
    display: flex;
}
.flex200000{
    cursor: pointer;
    align-items: center;
    right: 30%;
    position: absolute;
    display: flex;
}
.flexaitems{
    justify-content: space-between;
    margin-top: 129px;
    align-items: flex-end;
    position: relative;
    display: flex;
}
.asw{
    margin-top: 10px;
    margin-bottom: 10px;
}

.flexdddd{
    padding-top: 10%;
    position: relative;
    display: flex;
}

.flextest{
    position: relative;
    display: flex;
}

.flexbetw{
    justify-content: flex-end;
    display: flex;
    position: relative;
}

.flexcenter2{
    justify-content: center;
    position: relative;
    display: flex;
}


.flex100proc{
    justify-content: space-between;width: 100%;
    position: relative;
    display: flex;
}

.flex1000proc{
    justify-content: center;width: 100%;
    position: relative;
    display: flex;
}

.flex100{
    justify-content: space-between; padding-top: 100px;
    position: relative;
    display: flex;
}

.flex-pop{
    justify-content: center;margin-top: 10px;
    position: relative;
    display: flex;
}

.pppp-pop{
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.noflex{
    margin-left: 9%;
    position: relative;
    display: flex;
}

.flex000{
    justify-content: center;margin-top: 30px;
    position: relative;
    display: flex;
}

.margin-right{
    margin-right: 20px;
}

.flex32323223{
    margin-left: 9%;
    position: relative;
    display: flex;
}

.flex-2{
    position: relative;
    display: flex;
}
.flex-3{
    position: relative;
    display: flex;
}
.flex-4{
    position: relative;
    display: flex;
}
.flex-5{
    position: relative;
    display: flex;
}

.flex333{
    justify-content: center;margin-top: 3%;
    position: relative;
    display: flex;
}
.ta{
    width: 100%;
    height: 200px;
    text-align: center;
}

.body{
    padding: 0 15px;
    max-width: 1200px;
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.bodyimg{
    padding: 0 15px;
    max-width: 1200px;
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.body0{
    padding: 0 15px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.body3333{
    padding: 0 15px;
    max-width: 1200px;
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex; justify-content: space-between;
}

.yoof-yelo{
    height: 25%; margin-top: 71px;
}

.ift{
    margin-right: 10px;
    width: 24px;height: 24px;
}

input{outline:none;}

/* Блок 2 */

.bloc_2{
    width: 100%;
    height: 870px;
    background-color: white;
}

.help{
    font-family: Roboto;font-style: normal;font-weight: normal;font-size: 22px;line-height: 124.68%;text-align: center;color: #000000;
}

.H1{
    padding-top: 70px;
    margin: 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 124.68%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.line_2{
    width: 100%;
    background-color: #EBF005;
    height: 3px;
    padding: 0;
    margin: 0;
    border: 0;
}

.box_2{
    z-index: 1;
    width: 70%;
    height:310px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.box_202{
    z-index: 1;
    width: 70%;
    height:310px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.img_1{
    display: flex;
    justify-content: flex-start;
    margin: 2%;
    width: 310px;
    height: 240px;
}

.img_2{
    margin-bottom: 3%;
    width: 200px;
}

.img_3{
    margin-bottom: 3%;height: 48px;width: 98px;
}
.img_4{
    margin-bottom: 3%;height: 48px;width: 189px;
}
.img_5{
    margin-bottom: 3%;height: 48px;width: 145px;
}
.img_6{
    margin-bottom: 3%;height: 48px;width: 145px;
}



.stelka{
    padding-top: 6%;
    width: 50px;
    height: 50px;
}

.H3{
    height: 68px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 124.68%;
}

.H32{

    height: 68px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 124.68%;
}

.H33{
    width: 100%;
    height: 68px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 124.68%;
}

.H34{
    width: 548px;
    height: 68px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 124.68%;
}

.H35{
    width: 499px;
    height: 68px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 124.68%;
}

.button_h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.popup_reg{
    position: relative;
    display: flex;
    justify-content: center;

}

.button_popup{
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 3px solid #EBF005;
    border-radius: 10px;
    margin-top: 12%;
    width: 200px;
    height: 60px;
    z-index: 1;
    background-color: white;
    padding-left: 8px;
    margin-bottom: 60px;
}

.button_popup--1{
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 3px solid #EBF005;
    border-radius: 10px;
    margin-top: 12%;
    width: 200px;
    height: 60px;
    z-index: 1;
    background-color: white;
    padding-left: 8px;
    margin-bottom: 60px;
}

.button_popup1111{
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 3px solid #EBF005;
    border-radius: 10px;
    margin-top: 12%;
    width: 200px;
    height: 60px;
    z-index: 1;
    background-color: white;
    padding-left: 8px;
    margin-bottom: 60px;
}

.button_popup.active{
    background-color: #EBF005;
}
.button_popup--1.active{
    background-color: #EBF005;
}

.button_popup5{
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 3px solid #EBF005;
    border-radius: 10px;
    margin-top: 12%;
    width: 200px;
    height: 60px;
    z-index: 1;
    background-color: white;
    padding-left: 8px;
    margin-bottom: 60px;
}
.button_popup.active2{
    background-color: #EBF005;
}
.button_popup3{
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 3px solid #EBF005;
    border-radius: 10px;
    margin-top: 12%;
    width: 200px;
    height: 60px;
    z-index: 1;
    background-color: white;
    padding-left: 8px;
    margin-bottom: 60px;
}

.button_popup1{
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 3px solid #EBF005;
    border-radius: 10px;
    margin-top: 0;
    width: 300px;
    height: 60px;
    z-index: 1;
    background-color: #EBF005;
    padding-left: 8px;
    margin-bottom: 50px;
}

.button_popup1:hover{
    cursor: pointer;
    background-color:#EBF005
}

.button_popup:hover{
    cursor: pointer;
    background-color:#EBF005
}
.button_popup1111:hover{
    cursor: pointer;
    background-color:#EBF005
}
.button_popup5:hover{
    cursor: pointer;
    background-color:#EBF005
}

.button_popup3:hover{
    cursor: pointer;
    background-color:#EBF005
}

.text_popup904{
    margin-left: 100px;
    display: flex;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #000000;

}

.text_popup{
    margin-left: 20px;
    display: flex;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #000000;

}

.text_popup333{
    margin-left: 65px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #000000;

}

.text_popup1{
    margin-left: 65px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #000000;

}

.ki{
    text-align: center;
    height: 60px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #000000;

}

.popup192{
    width: 1000px;
    height: 1000px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    margin: 0 auto;
}
.popup1922{
    width: 1000px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    border: 0;

    z-index: 10;
    margin: 0 auto;
}
.popup1923{
    width: 1000px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    border: 0;

    z-index: 10;
    margin: 0 auto;
}
.rado_{
    margin-left: 50px;
    transform:scale(1.5);
}

.rado_1{
    margin-left: 50px;
    transform:scale(1.5);
}

.rado{
    margin-left: 50px;
    transform:scale(1.5);
}
.rado1{
    margin-left: 50px;
    transform:scale(1.5);
}

.rado2{
    margin-left: 50px;
    transform:scale(1.5);
}
.rado3{
    margin-left: 50px;
    transform:scale(1.5);
}

.rado4{
    margin-left: 50px;
    transform:scale(1.5);
}
.rado5{
    margin-left: 50px;
    transform:scale(1.5);
}

.p1{
    margin-right: 10px;
    margin-top: 6px;
    margin-left: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 124.68%;
    /* or 22px */

    text-align: center;

    color: #000000;
}

.asdasdasd{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.text1{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 260px;
    height: 40px;
    border:0;
}

.text2928{
    margin-bottom: 29px; margin-right: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 260px;
    height: 40px;
    border:0;
}

.text666{
    margin-bottom: 29px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 260px;
    height: 40px;
    border:0;
}

.text2{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 200px;
    height: 40px;
    border:0;
}

.R{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.R50{
    padding-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.R666{
    margin-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}
.R2{
    color: #000000;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
}

.R266{
    margin-top: 40px;
    color: #000000;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
}

body{
    margin: 0;
}

input[type='radio'],
label {
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #34971A;
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #34971A;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.popup_iner.active{
    display: block;
}


.popup_iner{
    position: absolute;
    top: 900px;
    margin: 0 auto;
    width: 100%;
    display: none;
    z-index: 100;
}

.popup_iner.active2{
    display: block;
    top: 100px;
}

.krest{
    z-index: 1000;
    width: 30px; height: 30px;
    margin-top: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.krest1{
    z-index: 1000;
    width: 30px; height: 30px;
    margin-top: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.popup_iner_2{
    display: none;
    position: absolute;
    top: 1300px;
    width: 100%;
    z-index: 100;
}

.popup_iner_2.active2{
    display: block;
    top: 445px;
}
.rado{
    margin-left: 50px;
    transform:scale(1.5);
}
.rado1{
    margin-left: 50px;
    transform:scale(1.5);
}


.button_2{
    cursor: pointer;
    margin-top: 60px;
    border: 0;
    border-radius: 10px;
    width: 280px;
    height: 60px;
    background-color: #EBF005;
}

.button_222{
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    margin-top: 60px;
    border: 0;
    border-radius: 10px;
    width: 280px;
    height: 60px;
    background-color: #EBF005;
}

.button_2.active{
    background-color: #EBF005;
}

.button_2.active2{
    background-color: #EBF005;
}


.asdasdad{
    padding-top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.popup_password{
    display: none;
    position: absolute;
    top: 1100px;
    width: 100%;
    z-index: 101;
}
.pas{
    text-align: center;
    position: relative;
    width: 1000px;
    height: 560px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    margin: 0 auto;
}

.popup_password.active{
    display: block;
}
.popup_password.active2{
    display: block;top: 300px;
}

.button_popup2{
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 3px solid #EBF005;
    border-radius: 10px;
    margin-top: 0;
    width: 300px;
    height: 60px;
    z-index: 1;
    background-color: #EBF005;
    padding-left: 8px;
    margin-bottom: 50px;

}
.pop_vos{
    display: none;
    position: absolute;
    top: 1100px;
    width: 100%;
    z-index: 101;
}

.pop_vos.active{
    display: block;
}

.pop_vos.active2{
    display: block;top: 300px;
}

.pas1{
    text-align: center;
    position: relative;
    width: 1000px;
    height: 560px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    margin: 0 auto;
}

.fdsaf{
    margin: 0 auto;
    background-color: white;
    border: 1px solid #EBF005;
    border-radius: 10px;
    width: 674px;
    height: 226px;
}

.p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;
    text-align: left;
    margin-left: 42px;
    margin-right: 42px;
}

.popup_iner_3{
    display: none;
    position: absolute;
    top: 900px;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup_iner_3.active{
    display: block;
}

.popup_iner_3.active2{
    display: block;top: 100px;
}

.popup_iner_4{
    display: none;
    position: absolute;
    top: 900px;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup_iner_4.active{
    display: block;
}

.popup_iner_4.active2{
    display: block;top: 446px;
}

.middle{
    width: 100%;
    height: 413px;
    background-image: url(./img/middle.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.asdasdf{
    margin-bottom: 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 124.68%;
    color: #000000;

}

.asdasdf24{
    padding-top: 90px;
    margin-bottom: 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 124.68%;
    color: #000000;
}

.fghfgh{
    margin-bottom: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 124.68%;
    color: #000000;
}

.middle_down{
    position: relative;
    text-align: center;
    width: 100%;
    height: 634px;
}

.h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.h5{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 124.68%;
    color: #000000;
}

.a4{
    margin-bottom: 100px;
    text-align: left;
    height: 143px;
    width: 240px;
}

.a44{
    margin-bottom: 100px;
    text-align: left;
    height: 143px;
    width: 240px;
}

.a444{
    margin-bottom: 100px;
    text-align: left;
    height: 143px;
    width: 240px;
}

.buton{
    margin-top: 50px;
    cursor: pointer;
    border: 0;
    background: #EBF005;
    border-radius: 10px;
    width: 300px;
    height: 60px;
}

.jkj{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 124.68%;
    /* or 22px */

    text-align: center;
    letter-spacing: 0.1em;

    color: #000000;

}

.footer{
    width: 100%;
    height: 200px;
    background-image: url(./img/footer.png);
    background-size: cover;
}

.aa{
    margin-bottom: 10px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 124.68%;
    color: #000000;
    text-decoration: none;
}

.agh{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 124.68%;
    color: #000000;
}


::-webkit-input-placeholder {font-family: Roboto;font-style: normal;font-weight: normal;font-size: 18px;line-height: 21px;color: #909090;}
::-moz-placeholder          {font-family: Roboto;font-style: normal;font-weight: normal;font-size: 18px;line-height: 21px;color: #909090;}/* Firefox 19+ */
:-moz-placeholder           {font-family: Roboto;font-style: normal;font-weight: normal;font-size: 18px;line-height: 21px;color: #909090;}/* Firefox 18- */
:-ms-input-placeholder      {font-family: Roboto;font-style: normal;font-weight: normal;font-size: 18px;line-height: 21px;color: #909090;}


.popup-2{
    height: 1080px;
    top: 100px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    display: none;
    z-index: 100;
}

.popup-2.active{
    display: block;
}

.popup-2:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9;
}
.popup-21{
    height: 1080px;
    top: 100px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    display: none;
    z-index: 100;
}

.popup-21.active{
    display: block;
}

.popup-21:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9;
}
.popup-3{
    height: 1080px;
    top: 100px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    display: none;
    z-index: 100;
}

.popup-3.active{
    display: block;
}

.popup-3:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9;
}

.popup-4{
    height: 1080px;
    top: 100px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    display: none;
    z-index: 100;
}

.popup-4.active{
    display: block;
}

.popup-4:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9;
}

.we{
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

.popup_33{
    position: relative;
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    margin: 0 auto;
}

.sela{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #ebf005;
}

.sela2{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #ebf005;
}

.sela3{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #ebf005;
}

.popup_44{
    position: relative;
    width: 1000px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    z-index: 10;
    margin: 0 auto;
}

.popup_22{
    position: relative;
    width: 70%;
    height: 110%;
    background-color: white;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    margin: 0 auto;
}

.ppppp{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D8C00;
}

.ppppp{
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    color: #1D8C00;
}
.ppppp:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #EBF005;
    transition: width 0.4s ease-in-out;
}
.ppppp:hover:after,
.ppppp:focus:after {
    width: 100%;
}

.ppppp43{
    margin-right: 43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D8C00;
}

.ppppp43{
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    color: #1D8C00;
}
.ppppp43:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #EBF005;
    transition: width 0.4s ease-in-out;
}
.ppppp43:hover:after,
.ppppp43:focus:after {
    width: 100%;
}

.ppppp90{
    margin-right: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D8C00;
}

.ppppp90{
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    color: #1D8C00;
}
.ppppp90:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #EBF005;
    transition: width 0.4s ease-in-out;
}
.ppppp90:hover:after,
.ppppp90:focus:after {
    width: 100%;
}

.ppppp30{
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D8C00;
}

.ppppp30{
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    color: #1D8C00;
}
.ppppp30:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #EBF005;
    transition: width 0.4s ease-in-out;
}
.ppppp30:hover:after,
.ppppp30:focus:after {
    width: 100%;
}

.pppp{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.fon-size300{
    width: 100%;
    font-weight: normal;
}
.pppp10{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 26px;
    margin-right: 12px;
    margin-top: 30px;
}

.text-popup{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border:0;
}

.checkbox{
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
}
.p{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 5px;
}

.kylion{
    position: relative;
    width: 1000px;
    height: 50px;
}

.button-filtr{
    position: absolute;
    cursor: pointer;
    right: 0;
    z-index: 2;
    width: 160px;
    height: 52px;
    border: 0;
    background: #EBF005;
    border-radius: 5px;
}
.button-filtr22{
    position: absolute;
    cursor: pointer;
    right: 0;
    z-index: 2;
    width: 160px;
    height: 52px;
    border: 0;
    background: #EBF005;
    border-radius: 5px;
}
.pppp2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}
.button-nc{
    border: 0;
    width: 200px;
    height: 60px;
    background: #EBF005;
    border-radius: 10px;
}

.box-mini{
    text-align: center;
    width: 70%;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.box-mini2{
    text-align: center;
    width:70%;
    height: 370px;

    margin-right: 10px;
    margin-left: 10px;

    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.box-mini3{
    text-align: center;
    width: 70%;
    height: 370px;

    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.box-img{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background: #C4C4C4;
    border-radius: 5px;
}

.sitiling{
    width: 120px;
    height: 38px;
}

.set{
    display: flex;
    justify-content: center;
}

.akty{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 96.69%;
    /* or 12px */


    color: #C7C7C7;
}

.cena{
    margin-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D8C00;
    text-decoration: none;
}

.size50{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.Mvideo{
    width: 120px;
    height: 30px;
}
.eldorado{
    width: 182px;
    height: 20px;
}

.gyl{
    padding-top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #000000;
}

.gyl2{
    margin-bottom: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.hr-medle{
    display: flex;
    justify-content: space-around;
    left: 0;
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 64px;

    background: #F8F8F8;
}

.popox{
    width: 200px;
}

.note{
    width: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.sravnenie{

    bottom: 0;
    width: 260px;
    height: 550px;
    background-color: #fff;
}

.sravnenie2{
    text-align: center;
    width: 260px;
    height: 540px;
    background-color: #fff;
}

.sravnenie3{
    text-align: center;
    width: 260px;
    height: 540px;
    background-color: #fff;
}

.hrpofig{
    border: 0;
    width: 550px;
    height: 5px;
    margin: 0;
    left: 108px;
    background: #F8F8F8;
    transform: rotate(90deg);
}

.cena2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D8C00;
    text-decoration: none;
}

.cena3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D8C00;
    text-decoration: none;
}

.lb{
    margin-top: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}
.kj{
    margin-top: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D8C00;
}
.kf{
    margin-top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.fmtp{
    margin-top: 100px;
}
.top2000{
    top: 2000px;
}
.mtb{
    margin-top: 7%;
    margin-bottom: 5%;
}
.ppppp10{
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D8C00;
}

.ppppp10{
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    color: #1D8C00;
}
.ppppp10:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #EBF005;
    transition: width 0.4s ease-in-out;
}
.ppppp10:hover:after,
.ppppp10:focus:after {
    width: 100%;
}
.jconc{
    justify-content: center;
}
.colwhi{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
.pad0{
    padding: 0;
    margin-right: 13%;
    margin-left: 13%;
}
.popup-city{
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    background-color: white;
    display: none;
}
.popup-city.active{
    display: block;
}
.popup-city-2{
    display: none;
}
.popup-city-2.active{
    display: block;
}
.popup-city-2:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 8;
}
.lib{
    list-style-type: disc;
    padding-bottom: 40px;
}
.input-city{
    border: 0;
    width: 98%;
    height: 40px;
}
input.body-city{outline:none;}
.body-city{
    margin: 0 60px;

}
.sizelog{
    margin-top: 35px;
    width: 170px;
    margin-bottom: 35px;
}
.hr-city{
    margin: 0;
    border: 0;
    border-radius: 5px;
    height: 1px;
    background-color: #bcbcbc;
}
.hr-city.active{
    background-color: #07bb14;
}
.wid75{
    position: relative;
    width: 75%;
}
.pb40{
    padding-bottom: 40px;
}
.li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    margin: 0;
    padding-right:  16px;
    margin-bottom: 5px;
    cursor: pointer;
    color: black;
}
.li:hover{
    font-weight: 1000;
    font-size: 100%;
}
.mar50{
    margin-top: 20px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.li-bot{
    border: 0;
    height: 3px;
    border-radius: 5px;
    color: #bcbcbc;
}
.li-hr{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 30px;
}
.city{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}
.city:hover{
    color: #07bb14;
}
.city-key{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 30px;
}
.mart{
    margin-top: 10px;
}
ul{
    padding-left: 0;
    margin-right: 5px;
}
.flex-city{
    justify-content: space-between;
    max-height: 3000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
li{
    list-style-type: none;
    color: #07bb14;
}
.city-div{
    width: calc(12.5% - 10px);
}
.ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.li-1{
    list-style-type: disc;
    margin-left: 16px;
}
@media (max-width: 1980px){
    .wid75{
        width: 100%;
    }
    ul{
        width: 155px;
    }
}
@media (max-width: 1400px){
    ul{
        width: 125px;
    }
}
@media (max-width: 1300px){
    ul{
        width: 105px;
    }
    .city-div{
        width: 14.28571%;
    }
    .header-city.active{
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 180px;
        box-shadow: 0 2px 3px rgb(21 21 40 / 12%);
    }
    .header-min.active{
        margin: 0 60px;
    }
}
@media (max-width: 1200px){
    .body{
        max-width: 970px;
    }
    .h1{
        font-size: 35px;
    }
    .box_2027{
        height: 230px;
    }
    .H34{
        width: 500px;
    }
    .H33{
        width: 450px;
    }
    .png123{
        width: 300px;
        height: 200px;
    }
    .flex-city{
        max-height: 3500px;
    }
}
@media (max-width: 918px){
    .FLEXpngtest{
        display: block;
    }
    .middle_down{
        height: 1300px;
    }
}
@media (max-width: 992px){
    .body{
        max-width: 750px;
    }
    .popup1922{
        width: 100%;
        height: 1150px;
    }
    .pas{
        width: 100%;
    }
    .h1{
        font-size: 25px;
    }
    .H34{
        width: 350px;
    }
    .H35{
        width: 350px;
    }
    .popup_33{
        width: 100%;
    }
    .popup_44{
        width: 100%;
    }
    .popup_22{
        width: 100%;
    }
    .popup_iner{
        width: 100%;
    }
    .popup192{
        width: 100%;
    }
    .H33{
        width: 350px;
    }
    .lypa{
        top: 35px;
    }
    .flex-city{
        max-height: 5000px;
    }
    .city-div{
        width: 16.66667%;
    }
}

@media (max-width: 767px){
    .body{
        max-width: none;
    }
    .FLEXspec{
        display: block;
    }
    .bloc_2{
        height: 1400px;
    }
    .help{
        font-size: 20px;
    }
    .FLEXspec2{
        justify-content: center;
    }
    .box_20200{
        margin-top: 50px;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .box_2028{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .box_2027{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .FLEXspectest{
        display: block;
    }
    .a4{
        height: 300px;
        margin: 0 auto;
    }
    .a44{
        height: 200px;
        margin: 0 auto;
    }
    .a444{
        height: 250px;
        margin: 0 auto;
    }

    .flex1000proc{
        display: block;
    }
    .box-mini{
        margin: 0 auto;
    }
    .box-mini2{
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 0 auto;
    }
    .box-mini3{
        margin: 0 auto;
    }

    .popup_33{
        height: 150%;
    }
    .flex32323223{
        display: block;
    }
    .popup192{
        height: 100%;
    }
    .noflex{
        display: block;
    }
    .H32{
        width: 350px;
    }
    .connect2{
        font-size: 18px;
    }
    .box_2021{
        padding-top: 20px;
    }
    .body3333{
        display: block;
        text-align: left;
    }
    .footer{
        height: 700px;
    }
    .yoof-yelo{
        width: 200px;
        height: 60px;
    }
    .lypa{
        top: 30px;
    }
    .popup_iner_2.active2{
        top: 400px;
    }
    .popup_iner_4.active2{
        top: 401px;
    }
    .popup1923{
        width: 100%;
    }
    .width350{
        width: 350px;
    }
    .flex-city {
        max-height: 8052px;
    }
    .li-1{
        margin-left: 0;
        list-style-type: none;
        width: 45%;
        padding-bottom: 25px;
    }
}
@media (max-width: 660px){
    .h1{
        font-size: 22px;
    }
    .dsa3{
        margin-left: 20px;
        display: block;
    }
    .h202{
        font-size: 16px;
        width:  200px;
    }
    .lll{
        font-size: 14px;
    }
    .FLEXpngtest{
        display: block;
    }
    .lypa{
        top: 25px;
    }
    .wid250{
        width: 260px;
    }
}
@media (max-width: 550px){
    .ul{
        display: block;
    }
    .flex-city {
        display: block;
        max-height: 15090px;
    }
}


